_site
.sass-cache
.jekyll-metadata
node_modules
assets/images
assets/javascripts

assets/stylesheets/*
!assets/stylesheets/images

assets/favicons
_includes/stylesheets
_includes/favicon.html
faviconData.json
*.log
*.orig

.vscode
tmp
