---
layout: default
permalink: /apply/
title: Coding Bootcamp | Learn How To Code | {{site.school}}
description: >
  Explore innovative courses in web development at {{site.school}}, the industry-leading
  coding bootcamp in {{site.city}}
---
<section class="bg-primary text-white">
  <div class="container">
    {% include reviews.html %}
  </div>
</section>
<section>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1>
          Ready to apply?
          <br />
          <small>
            After you complete the application, you will be prompted to
            schedule a 15 minute phone interview. Congrats on taking the first
            step to a new career in web development!
          </small>
        </h1>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>Have some more questions?</h2>
        <a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-success btn-block">Talk with an advisor</a>
      </div>
    </div>
  </div>
  {% include application-iframe.html %}
</section>
<section class="bg-primary text-white">
  <div class="container">
    {% include reviews.html %}
  </div>
</section>
