---
layout: default
permalink: /apply/
title: Apply Now | Learn How To Code At {{site.school}}
description: >
  Apply now. Complete and submit your {{site.school}} application. Take the first step toward a new career in web development.
head: >
  <style>
    .hbspt-form {
      display: flex;
      justify-content: center;
    }
  </style>
---
{% include application-process.html %}
<section>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          Ready to apply?
          <br />
          <small>
            After you complete the application, you will be prompted to
            schedule a <strong style="color:black; font-weight:bolder;">15 minute Admissions Phone Interview.</strong> Congrats on taking the first
            step to a new career in web development!
          </small>
        </h1>
      </div>
    </div>
    {% include application-iframe.html form="application.html" id="application" %}
  </div>
</section>
