---
layout: default
scripts: |
  <script>
  $(function() {
    $('.reviews').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      autoplay: true,
      autoplaySpeed: 10000
    });
    $('.reviews .review').removeClass('hidden');
    $('form').on('submit', function(e) {
      e.preventDefault(); // prevent native submit
      $(this).ajaxSubmit();
      console.log("submitted");
    });
  });
  </script>
---
<div id="application">
  <section class="bg-primary text-white">
    <div class="container">
      {% include reviews.html %}
    </div>
  </section>
  <section>
    {% include application-iframe.html %}
  </section>
  <section class="bg-primary text-white">
    <div class="container">
      {% include reviews.html %}
    </div>
  </section>
</div>
