---
layout: default
permalink: /blog/
title: Learn To Code News &amp; Tips | {{ site.school }} Blog
description: >
  Learn to code with {{ site.school }}'s news, tips and workshops on C Sharp,
  HTML, CSS, and Javascript in the {{ site.city }} area
head: >
  <style>
    .panel-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .panel-body img {
      max-height: 220px;
    }
  </style>
---
<section class="bg-gray-lighter">
  <div class="container">
    <div id="blog-item" class="row row-eq">
      {% for post in site.posts %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default equalizer">
          <div class="panel-body">
            <a href="{% if site.hostname %}https://blog.{{site.hostname}}{% endif %}{{ post.url }}"><img src="/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}"></a>
            <div class="media">
              <!-- <div class="media-left">
                <div id="blog-date" class="bg-success text-white">
                  {{ post.date | date: "%a,<br> %b %d,<br> %Y"  }}
                </div>
              </div> -->
              <div id="media-body-vertical-center" class="media-body">
                <h4 class="media-heading"><a href="{% if site.hostname %}https://blog.{{site.hostname}}{% endif %}{{ post.url }}">{{ post.title }}</a></h4>
                <p class="blog-subheading">
                  {{ post.excerpt | strip_html }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
