---
layout: default
permalink: /calendar/
title: Learn To Code News & Tips | {{ site.school }} Calendar
description: >
  Learn to code with {{ site.school }}'s courses, {% if site.key != 'austin' '%} remote {% endif %} classes, and workshops on Virtual Reality, HTML, CSS, and Javascript in the {{ site.city }} area
head: >
  <style media="screen">
    section:first-child {
      background-image: url('/assets/images/laptop-arms.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
  </style>
---

<!-- HEADER IMAGE -->
<section class="bg-gray-darker">
  <div class="container">
    <h1 class="text-white">
      {{site.school}} Calendar
      <br>
      <small class="text-white">
        {{site.acronym}}'s courses, {% if site.key != 'austin' '%} remote {% endif %} classes, and workshops on Virtual Reality, HTML, CSS, and Javascript in the {{ site.city }} area
      </small>
    </h1>
  </div>
</section>

<!-- INSTRUCTIONS FOR CALENDARS -->
<!-- <section class="cal-heading">
  <div class="container">
    <h1 class="">
      Click on a day to view events
    </h1>
  </div>
</section> -->

<!-- MONTH VIEW OF CALENDAR -->
<section class="calendar-month">
  <h2 class="text-center">
    Click on a day of the month to see its events
    <br />
    <br />
    RSVP by clicking on an event or scroll down
  </h2>
  <br />
  <br />
  <div class="container">
    <div id="bootstrap-calendar"></div>
  </div>
</section>

<!-- FULL WIDTH BANNERS OF COMING WEEK EVENTS -->
<!-- <section class="calendar-week">
  <div class="container">
    <div style="border-top:1px solid grey" class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/6389/thumb_MonthlyTopicSeries_TalkDatatoMe_Core_560x350.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h1><a style="text-decoration:underline;" href="#">Web VR</a></h1>
        <h3>This monthly speaker series brings together industry experts to discuss how data is changing the way businesses run and people live.</h3>
        <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        <h5>Kevin Colten, CTO</h5>
        <h5>Chris Loften, Director of Academics</h5>
      </div>
      <div class="col-md-3">
        <h2>May 4, 2017</h2>
        <h3>6:00pm - 7:00pm</h3>
      </div>
    </div>
  </div>
</section>
<section class="calendar-week">
  <div class="container">
    <div style="border-top:1px solid grey" class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/8166/thumb_Ins-and-Outs-of-Facebook-Ads_imageoptim.png" alt="">
      </div>
      <div class="col-md-6">
        <h1><a style="text-decoration:underline;" href="#">Web Design</a></h1>
        <h3>This monthly speaker series brings together industry experts to discuss how data is changing the way businesses run and people live.</h3>
        <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        <h5>Kevin Colten, CTO</h5>
        <h5>Chris Loften, Director of Academics</h5>
      </div>
      <div class="col-md-3">
        <h2>May 4, 2017</h2>
        <h3>6:00pm - 7:00pm</h3>
      </div>
    </div>
  </div>
</section>
<section class="calendar-week">
  <div class="container">
    <div style="border-top:1px solid grey" class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/8221/thumb_thumb_Metrics-Driven-Business1-1__1_.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h1><a style="text-decoration:underline;" href="#">Job Search Workshop</a></h1>
        <h3>This monthly speaker series brings together industry experts to discuss how data is changing the way businesses run and people live.</h3>
        <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        <h5>Chris Helmueller, CEO</h5>
        <h5>Kevin Colten, CTO</h5>

      </div>
      <div class="col-md-3">
        <h2>May 4, 2017</h2>
        <h3>6:00pm - 7:00pm</h3>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="container" id="upcoming-events"></div>
</section>
