---
layout: form
permalink: capture-syllabus
---
<div class="bg-primary text-white">
  <form name="insightly_web_to_lead" action="https://googleapps.insight.ly/WebToLead/Create" method="post" id="capture-syllabus">
    <input type="hidden" name="formId" value="P26VnYXCPMyqu/336CA7sA==" />
    <input type="hidden" name="ResponsibleUser" value="1346854"/> <!--This to be the site.campusmanager in the future-->
    <input type="hidden" name="LeadSource" value="1522626"/>
    <input type="hidden" name="LEAD_FIELD_38" type="text" value="{{site.city}}" />
    <input type="hidden" name="LEAD_FIELD_36" type="text" value="Website - Syllabus" />
    <input type="hidden" name="LEAD_FIELD_14" type="text" value="Syllabus Download" />
    <div class="row row-eq margin-0">
      <div class="col-xs-12 col-sm-2 margin-0 equalizer">
        <div class="form-group">
          <label for="insightly_firstName">First Name: </label>
          <input id="insightly_firstName" class="form-control" name="FirstName" type="text" required />
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 margin-0 equalizer">
        <div class="form-group">
          <label for="insightly_lastName">Last Name: </label>
          <input id="insightly_lastName" class="form-control" name="LastName" type="text" required />
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 margin-0 equalizer">
        <div class="form-group">
          <label for="email">Email: </label>
          <input id="insightly_Email" class="form-control" name="email" type="email" required />
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 margin-0 equalizer">
        <div class="form-group">
          <label for="course">Course</label>
          <select class="form-control" name="LEAD_FIELD_37">
            <option value="" disabled selected>Select Course</option>
            {% for course in site.data.courses %}
            {% if site.courses contains course[0] %}
            <option value="{{course[1].name}}">{{course[1].name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 margin-0 equalizer">
        <input type="submit" value="Submit" class="btn btn-success btn-block" style="margin-top:24px;">
      </div>
    </div>
  </form>
</div>
