---
layout: default
permalink: /courses/
title: Computer Coding Courses & Training | {{ site.school }}
description: >
  Coding classes for beginners: Learn to code responsive websites, build interactive apps, and become a job-ready web developer at {{site.school}} in just nine months.
head: >
  <style media="screen">
    section:first-child {
      background-image: url('/assets/images/laptop-pointing.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
    [data-spy="affix"] {
      top: 10px;
    }
    .affix-bottom {
      position: relative;
    }
    .list-group-item {
      margin-bottom: -3px !important;
    }
  </style>
scripts: >
  <script type="text/javascript">
    $('body').scrollspy({ target: '#scrollspy' });
    $('.nav-wrapper').height($('[data-spy="affix"]').height());
    $.ajax('https://campus.austincodingacademy.com/api/terms/dates/56f368f58085ad1100f2ad77', {
      success: function(dates) {
        $('.start-date').text(moment.utc(dates['{{site.city}}']).format('ddd, MMM Do, YYYY'));
      }
    });
  </script>
skills:
  - icon: scissors
    title: Languages and Frameworks
    body: >
      Create apps that solve problems using cutting edge technology and software
      that our Curriculum Development Team has vetted.
  - icon: pencil
    title: Dev team experience
    body: >
      Hiring managers value peer review and solid communication skills honed
      while working with others to create innovative solutions.
  - icon: wrench
    title: Presentation skills
    body: >
      Polish your presention acumen to communicate ideas to your team and
      others. Iterate to optimize your products.
  - icon: object-group
    title: Design and Critical Thinking
    body: >
      Learn the technical skills to create static sites and dynamic web apps, as
      well as techniques to learn new programming languages quickly and
      effectively.
  - icon: mobile
    title: Technological Sophistication
    body: >
      Learn the technical skills to create static sites and dynamic web apps, as
      well as techniques to learn new programming languages quickly and
      effectively.
  - icon: lightbulb-o
    title: Build processes
    body: >
      Git, collaboration/version control software, and Agile methodology; widely
      accepted processes professional teams use to create apps.
financing_options:
  - icon: graduation-cap
    title: Scholarships
    body: >
      We sometimes offer partial or full-tuition scholarships through
      partnerships with third-party organizations. Please check with your
      Admissions Advisor to see if any are currently available.
    href: /tuition/#scholarships
  - icon: users
    title: GoFundMe
    body: >
      Friends and family are important to every one of us and many of them might
      be willing to support, and assist, if given an accessible, online resource.
    href: https://www.gofundme.com/
  - icon: university
    title: Lending agencies
    body: >
      Remember, you are free to obtain a loan from any lender, not just those
      listed below. Loans must be repaid with interest, and taking out a loan is
      a big decision, so consider it carefully.
    href: /tuition/#lending
---
<section class="bg-gray-darker text-white text-center">
  <div class="container">
    <h1 class="jumbo">
      Coding Classes Designed by Developers to Help You Get a Career That You Love.
    </h1>
    <br /><br />
    <a href="/apply" class="btn btn-success btn-lg">Start Your Application</a>
  </div>
</section>

<section class="text-center" id="our-program">
  <div class="container">
    <div class="row">
      <div id="scrollspy" class="col-md-3 col-lg-2">
        <div class="hidden-sm hidden-xs">
          <div class="nav-wrapper">
            <ul class="nav nav-pills nav-stacked text-center" data-spy="affix" data-offset-top="300" data-offset-bottom="915" style="max-width:155px">
              <li><a href="#our-program" class="list-group-item">Our Program</a></li>
              <li><a href="#course-tracks" class="list-group-item">Course Tracks</a></li>
              <li><a href="#courses-list" class="list-group-item">Courses List</a></li>
              <li><a href="#syllabus" class="list-group-item">Syllabus</a></li>
              <li><a href="#course-skills" class="list-group-item">Course Skills</a></li>
              <li><a href="#student-resources" class="list-group-item">Student Resources</a></li>
              <li><a href="#upcoming-courses" class="list-group-item">Upcoming Courses</a></li>
              <li><a href="#financing-options" class="list-group-item">Financing Options</a></li>
              <li><a class="btn btn-success">Apply Now</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-10">
        <h2>
          Classes Designed to Move at the Pace of Life
        </h2>
        <p>
            Our classes are broken up into 3 tracks, each comprised of 3 levels.
            These classes are designed to get you from beginner to job ready in
            a sustainable and accessible manner, without having to quit your job
            or mortgage your future. 
        </p>
        <p>
            Each track, as you’ll see below is broken
            up into Intro, Intermediate and Advanced level courses. Each one of
            these courses is a 10 week session that meets twice a week in the
            evenings. These tracks are comprehensive and every class will have
            homework, projects, and assessments to ensure comprehension, however
            you won’t be on your own. We maintain a strict 10:1 student to
            teacher ratio, plenty of one-on-one time and office hours with
            instructors, as well as a vibrant online community of current
            students and alumni that are all engaged in helping each other
            succeed.
        </p>
        <div class="row row-eq">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel equalizer card">
              <h3 class="bold">
                Step 1:
                <br />
                Intro
              </h3>
              <p>
                Our Intro level course is the starting point for all three of
                our tracks and designed for people who are starting with little
                or no experience coding. By the end of this level students can
                build functional and professional quality websites as well as
                basic JavaScript apps.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel equalizer card">
              <h3 class="bold">
                Step 2:
                <br />
                Intermediate
              </h3>
              <p>
                Intermediate is where the tracks split into either Full Stack
                JavaScript, Full Stack C#/.NET or Web Design. In this level
                the difficulty ramps up and students start building more
                complex apps if they are in a Full Stack track or start
                diving into UI/UX and iterative design if they are in Web
                Design.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel equalizer card">
              <h3 class="bold">
                Step 3:
                <br />
                Advanced
              </h3>
              <p>
                The final stage of each track, the Advanced class is where
                students complete their journey and have the technical skills to
                be considered job ready. In the Full Stack tracks, students
                build full stack production-ready applications, while in the Web
                Design track learn about site deployment, testing and the
                process of building their business as a web designer.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel equalizer card">
              <h3 class="bold">
                Step 4:
                <br />
                Job Search
              </h3>
              <p>
                Throughout the 3 levels students are invited to participate in
                various career services events, from resume and interview
                workshops to field trips and networking events at local tech
                companies. Once done with their program, students begin
                searching for and applying to the best organizations in Texas.
              </p>
            </div>
          </div>
        </div>
        <div class="hidden-sm hidden-xs">
          <div class="justify-content-center">
            <img src="/assets/images/flow-chart.png" alt="Flow Chart" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-jobs text-white" style="padding-top:0;padding-bottom:0">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        {% include reviews.html %}
      </div>
    </div>
  </div>
</section>
<section class="text-center" id="course-tracks">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-sm-12">
            <h2>
              3 Tracks
              <br>
              <small class="text-left">
                The biggest reason students join {{ site.acronym }} is to make a powerful and
                lasting change in their career.
              </small>
            </h2>
            <p class="text-left">
              Some are looking to join a
              large and established organization, others are looking to jump
              in with a hot new startup, and still others are simply looking
              to pick up a new skill to add to their freelance arsenal.
              Regardless of where you’re going, we have a track that guides
              you along that path. 
            </p>
            <p class="text-left">
              All tracks start with the Intro course, a
              class designed to give a strong set of fundamentals and
              actionable tools that are valuable regardless of where your
              path leads. From there students choose their path with the
              Intermediate level: Full Stack JavaScript, Full Stack,
              C#/.NET, or Web Design.
            </p>
          </div>
        </div>
        <div class="panel card padding-0">
          <div class="row row-eq margin-0">
            <div class="col-sm-12 col-md-3 bg-javascript padding-0" style="margin:-1px">
              <div class="equalizer justify-content-center align-items-center" style="margin: 11px 0;">
              <h3 class="text-white">JavaScript Full Stack Web Development</h3></div>
            </div>
            <div class="col-sm-12 col-md-7 equalizer">
              This track is for people who want to build
              apps and get a job as a developer. The frameworks we teach in this
              track lend themselves to companies that support more open source
              technologies, and these companies tend to be a bit newer, though
              this is not a rule.
            </div>
            <div class="col-sm-12 col-md-2 equalizer justify-content-center align-items-center">
              <img src="/assets/images/javascript.png" alt="javascript" class="img-responsive" style="max-height:100px">
            </div>
          </div>
        </div>
        <div class="panel card padding-0">
          <div class="row row-eq margin-0">
            <div class="col-sm-12 col-md-3 bg-csharp padding-0" style="margin:-1px">
              <div class="equalizer justify-content-center align-items-center" style="margin: 11px 0;">
                <h3 class="text-white">C#/.Net Full Stack Web Development</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 equalizer">
              Similar to the Full Stack JS track, this track is also for people
              who want to build apps and get a job as a developer. The main
              difference is that this track focuses on the C#/.NET stack, which
              typically lends itself to larger, more established companies,
              though again, this is not a rule.
            </div>
            <div class="col-sm-12 col-md-2 equalizer justify-content-center align-items-center">
              <img src="/assets/images/csharp.png" alt="csharp" class="img-responsive" style="max-height:100px">
            </div>
          </div>
        </div>
        <div class="panel card padding-0">
          <div class="row row-eq margin-0">
            <div class="col-sm-12 col-md-3 bg-design padding-0" style="margin: -1px">
              <div class="equalizer justify-content-center align-items-center" style="margin: 11px 0;">
              <h3 class="text-white">Web Design</h3></div>
            </div>
            <div class="col-sm-12 col-md-7 equalizer">
              This track is for people who want to design beautiful web
              experiences and get a job as a UX/UI designer or a freelance web
              designer. Students learn both design and web development skills as
              well as the capabilities to launch their own freelance business.
            </div>
            <div class="col-sm-12 col-md-2 equalizer justify-content-center align-items-center">
              <img src="/assets/images/web-design.png" alt="web design" class="img-responsive" style="max-height:100px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="panel card">
          <h3>Meet an <span class="text-success">{{ site.acronym }} Student</span></h3>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <div class="slick-carousel" data-dots="true" data-autoplay="false" data-arrows="false">
            {% for interview in site.data.interviews %}
            <div class="row hidden">
              <div class="col-sm-12 col-md-6">
                <h3>
                  {{interview.quote}}
                  <br>
                  <small>- <strong>{{interview.name}}</strong><br>&nbsp;&nbsp;{{interview.current_role}}</small>
                </h3>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{interview.embed}}" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="courses-list">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <h3>
              Courses <span class="text-success">List</span>
              <br>
              <hr style="width: 40px; text-align:left; margin-left:0; border-color:#777">
            </h3>
            <ul class="nav nav-tabs nav-stacked" role="tablist">
              {% for course in site.data.courses %}
              {% if site.courses contains course[0] %}
              <li role="presentation" class="{% if forloop.index == 1 %} active {% endif %}">
                <a href="#{{course[0]}}-img" aria-controls="home" data-target="#{{course[0]}}-img, #{{course[0]}}-details, #{{course[0]}}-description" role="tab" data-toggle="tab">
                  {{course[1].name}}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-12 col-md-8">
            <div class="tab-content">
              {% for course in site.data.courses %}
              {% if site.courses contains course[0] %}
              <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="{{course[0]}}-img">
                <img src="{{course[1].img}}" alt="{{course[1].name}}" class="img-responsive">
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="tab-content">
              <h3>
                Course <span class="text-success">Details</span>
                <br>
                <hr style="width: 40px; text-align:left; margin-left:0; border-color:#777">
              </h3>
              {% for course in site.data.courses %}
              {% if site.courses contains course[0] %}
              <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="{{course[0]}}-details">
                <ul class="list-unstyled">
                  <li><h4><span class="text-success">Price :</span> {{site.course_amount}}</h4></li>
                </ul>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-xs-12 col-md-8">
            <div class="tab-content">
              {% for course in site.data.courses %}
              <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="{{course[0]}}-description">
                <h2>
                  {{course[1].name}}
                  <hr style="width:40px; text-align:left; margin-left:0; border-color:{{site.color}};">
                </h2>
                {{course[1].description}}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary" id="syllabus">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        {% include syllabus-capture.html %}
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-lighter" id="course-skills">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <h2>
          OUR <span class="text-success">SKILLS AND TOOLS</span>
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h2>
        <div class="row text-center row-eq">
          {% for skill in page.skills %}
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default equalizer">
              <div class="panel-body">
                <div class="panel panel-inverse margin-0 align-items-center justify-content-center">
                  <div class="panel-body" style="padding: 5px;">
                    <i class="fa fa-{{skill.icon}} fa-3x fa-fw"></i>
                    <h4>
                      {{skill.title}}
                    </h4>
                  </div>
                </div>
                <h4>
                  <small>{{skill.body}}</small>
                </h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="student-resources">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h3>
              STUDENT<br><span class="text-success">RESOURCES</span>
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                We care for students, coach them while they learn to build web apps,
                and prepare them for the next step in their career. Our progressive
                teaching approach and effective curriculum cultivates exceptional
                technical proficiency in tandem with deft interpersonal skills.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-3">
            <h3>
              STUDENT SUCCESS ADVOCATE
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                Each campus has an Student Success Advocate who listens to students
                and helps them overcome challenges. SSA's and staff host the career
                readiness workshops - Networking, Branding, Resume, Opportunity Funnel,
                and Interviewing.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-3">
            <h3>
              INSTRUCTORS AND TEACHING ASSISTANTS
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                Every Instructor and Teaching Assistant is a professional developer who is passionate
                about helping students master the principles of software development.
                You will learn by creating sites and apps in pairs, teams, and singularly.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-3">
            <h3>
              CAMPUS<br>MANAGER
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                Campus Manager, our online Learning Management System, has many
                features - attendance, grades, messaging platform, class recordings,
                Q&amp;A forum, screensharing, and calendar.
              </small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-info" id="upcoming-courses">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        {% include important-dates.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        {% include companies.html %}
      </div>
    </div>
  </div>
</section>
<section id="financing-options">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2>
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa fa-usd fa-stack-1x"></i>
              </span>
              FINANCING<span class="text-success"> OPTIONS</span>
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
            </h2>
            {% for option in page.financing_options %}
            <div class="media">
              <div class="media-left">
                <a href="{{option.href}}">
                  <i class="fa fa-{{option.icon}} fa-2x" aria-hidden="true"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="{{option.href}}">{{option.title}}</a>
                </h4>
                {{option.body}}
                <br>
                <a href="{{option.href}}">Read More</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-xs-12 col-md-6">
            {% include faqs.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
