---
layout: default
permalink: /courses/
title: Computer Coding Courses & Training | {{ site.school }}
description: >
  Are you interested in taking computer coding classes and becoming a web
  developer? Join {{ site.school }} for one of our many HTML, CSS,
  JavaScript, and C Sharp trainings
head: >
  <style media="screen">
    section:first-child {
      background-image: url('/assets/images/laptop-book.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
  </style>
scripts: >
  <script type="text/javascript">
    $.ajax('https://campus.austincodingacademy.com/api/terms/dates/56f368f58085ad1100f2ad77', {
      success: function(dates) {
        $('.start-date').text(moment.utc(dates['{{site.city}}']).format('ddd, MMM Do, YYYY'));
      }
    });
  </script>
skills:
  - icon: scissors
    title: Languages and Frameworks
    body: >
      Create apps that solve problems using cutting edge technology and software
      that our Curriculum Development Team has vetted.
  - icon: pencil
    title: Dev team experience
    body: >
      Hiring managers value peer review and solid communication skills honed
      while working with others to create innovative solutions.
  - icon: wrench
    title: Presentation skills
    body: >
      Polish your presention acumen to communicate ideas to your team and
      others. Iterate to optimize your products.
  - icon: object-group
    title: Design and Critical Thinking
    body: >
      Learn the technical skills to create static sites and dynamic web apps, as
      well as techniques to learn new programming languages quickly and
      effectively.
  - icon: mobile
    title: Technological Sophistication
    body: >
      Learn the technical skills to create static sites and dynamic web apps, as
      well as techniques to learn new programming languages quickly and
      effectively.
  - icon: lightbulb-o
    title: Build processes
    body: >
      Git, collaboration/version control software, and Agile methodology; widely
      accepted processes professional teams use to create apps.
financing_options:
  - icon: graduation-cap
    title: Scholarships
    body: >
      We sometimes offer partial or full-tuition scholarships through
      partnerships with third-party organizations. Please check with your
      Admissions Advisor to see if any are currently available.
    href: /tuition/#scholarships
  - icon: users
    title: GoFundMe
    body: >
      Friends and family are important to every one of us and many of them might
      be willing to support, and assist, if given an accessible, online resource.
    href: https://www.gofundme.com/
  - icon: university
    title: Lending agencies
    body: >
      Remember, you are free to obtain a loan from any lender, not just those
      listed below. Loans must be repaid with interest, and taking out a loan is
      a big decision, so consider it carefully.
    href: /tuition/#lending
---
<section class="bg-gray-darker text-white">
  <div class="container">
    <h1>
      Courses at {{site.school}}
      <br>
      <small class="text-white">
        Full Stack - 3 sessions, 10 weeks per session, part-time
        <br>
        Become a Full Stack developer, UI/UX Designer, Database Manager, and more
      </small>
    </h1>
  </div>
</section>
<section class="bg-gray-lighter">
  <div class="container">
    <h2>
      OUR <span class="text-success">SKILLS AND TOOLS</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <div class="row row-eq">
      {% for skill in page.skills %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <div class="panel panel-inverse margin-0 equalizer align-items-center">
                  <div class="panel-body" style="padding: 5px;">
                    <i class="fa fa-{{skill.icon}} fa-3x fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading equalizer">
                  {{skill.title}}
                  <br>
                  <small>{{skill.body}}</small>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-primary text-white">
  <div class="container">
    <h2>
      <small class="text-white">Happy Student</small>
      <br>
      TESTIMONIALS<span class="text-success">.</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <br />
    {% include reviews.html %}
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h3>
          STUDENT <span class="text-success">RESOURCES</span>
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <br>
          <small>
            We care for students, coach them while they learn to build web apps,
            and prepare them for the next step in their career.
          </small>
        </h3>
        <p>
          Our progressive teaching approach and effective curriculum cultivates exceptional technical proficiency in tandem with deft interpersonal skills.
        </p>
      </div>
      <div class="col-xs-12 col-md-3">
        <h3>
          STUDENT SUCCESS ADVOCATE
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h3>
        <p>
          Each campus has an SSA who listens to students and helps them overcome challenges. SSA's and staff host the career readiness workshops - Networking, Branding, Resume, Opportunity Funnel, and Interviewing.
        </p>
      </div>
      <div class="col-xs-12 col-md-3">
        <h3>
          INSTRUCTORS AND TA'S
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h3>
        <p>
          Every Instructor and TA is a professional developer who is passionate about helping students master the principles of software development. You will learn by creating sites and apps in pairs, teams, and singularly.
        </p>
      </div>
      <div class="col-xs-12 col-md-3">
        <h3>
          CAMPUS MANAGER
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h3>
        <p>
          Campus Manager, our online Learning Management System, has many features - attendance, grades, messaging platform, class recordings, Q&A forum, screensharing, jobs board, and calendar.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3>
          Courses <span class="text-success">List</span>
          <br>
          <hr style="width: 40px; text-align:left; margin-left:0; border-color:#777">
        </h3>
        <ul class="nav nav-tabs nav-stacked" role="tablist">
          {% for course in site.data.courses %}
          <li role="presentation" class="{% if forloop.index == 1 %} active {% endif %}">
            <a href="#{{course[0]}}-img" aria-controls="home" data-target="#{{course[0]}}-img, #{{course[0]}}-details, #{{course[0]}}-description" role="tab" data-toggle="tab">
              {{course[1].name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="tab-content">
          {% for course in site.data.courses %}
          <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="{{course[0]}}-img">
            <img src="{{course[1].img}}" alt="{{course[1].name}}" class="img-responsive">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="tab-content">
          <h3>
            Course <span class="text-success">Details</span>
            <br>
            <hr style="width: 40px; text-align:left; margin-left:0; border-color:#777">
          </h3>
          {% for course in site.data.courses %}
          <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="{{course[0]}}-details">
            <ul class="list-unstyled">
              <li><h4><span class="text-success">Price :</span> {{site.course_amount}}</h4></li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="tab-content">
          {% for course in site.data.courses %}
          <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="{{course[0]}}-description">
            <h2>
              {{course[1].name}}
              <hr style="width:40px; text-align:left; margin-left:0; border-color:{{site.color}};">
            </h2>
            {{course[1].description}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary">
  {% include syllabus-capture.html %}
</section>
<section class="bg-info">
  {% include important-dates.html %}
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa fa-usd fa-stack-1x"></i>
          </span>
          FINANCING<span class="text-success"> OPTIONS</span>
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h2>
        {% for option in page.financing_options %}
        <div class="media">
          <div class="media-left">
            <a href="{{option.href}}">
              <i class="fa fa-{{option.icon}} fa-2x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="{{option.href}}">{{option.title}}</a>
            </h4>
            {{option.body}}
            <br>
            <a href="{{option.href}}">Read More</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-md-6">
        {% include faqs.html %}
      </div>
    </div>
  </div>
</section>
