---
layout: default
permalink: /funding/
title: Fund Your Future | {{ site.school }}
description: >
  Finance your coding education with one of {{ site.school }}'s many funding options - scholarships, payment plans, corporate reimbursement, or lending agency.
scripts: >
  <script type="text/javascript">
    $('body').scrollspy({ target: '#scrollspy' });
    $('.nav-wrapper').height($('[data-spy="affix"]').height());
  </script>
head: >
  <style media="screen">
    [data-spy="affix"] {
      top: 10px;
    }
    .affix-bottom {
      position: relative;
    }
    .list-group-item {
      margin-bottom: -3px !important;
    }
    section:first-child {
      background-image: url('/assets/images/laptop-tablet.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
  </style>
---
<section class="bg-gray-darker">
  <div class="container">
    <h1 class="text-white">
      Tuition and Financing at {{site.school}}
      <br>
      <small class="text-white">
        We want our students to experience coding with as little stress as possible
        <br>
        <br>
        PAY ONE CLASS AT A TIME
      </small>
    </h1>
  </div>
</section>

<section style="z-index: 50; position:relative;">
  <div class="container" id="scrollspy">
    <div class="row">
      <div class="hidden-sm hidden-xs col-md-3">
        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="300" data-offset-bottom="600" style="max-width: 212px;">
            <li><a href="#overview" class="list-group-item">Overview</a></li>
            <li><a href="#corporate-reimbursement" class="list-group-item">Corporate Reimbursement</a></li>
            <li><a href="#scholarships" class="list-group-item">Scholarships</a></li>
            <li><a href="#gofundme" class="list-group-item">GoFundMe</a></li>
            <li><a href="#payment-plans" class="list-group-item">Payment Plans</a></li>
            <li><a href="#lending-agencies" class="list-group-item">Lending Agencies</a></li>
            <li><a href="#faqs" class="list-group-item">FAQ's</a></li>
            <li><a href="/apply" class="list-group-item">APPLY</a></li>
          </ul>
        </div>
      </div>
      <div id="overview" class="col-xs-12 col-md-9">
        <div class="program-values">
          <h2>BEGIN A CAREER YOU LOVE IN WEB DEVELOPMENT</h2>
          <h4>Learn and apply the skills you need to start a career in code.</h4>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <div class="row">
            <div class="col-md-2">
              <i class="icon-margin-top fa fa-university fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10">
              <h3>Know Your Stuff</h3>
              <h4>Many bootcamps charge around - $21,000</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="icon-margin-top fa fa-code fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10">
              <h3>{{ site.school }}</h3>
              <h4>{{ site.school }} is a fraction of their tuition - {{ site.track_amount }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="icon-margin-top fa fa-handshake-o fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10">
              <h3>Payment Solution</h3>
              <h4>Payments are broken down by 10 week course - {{ site.course_amount }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="icon-margin-top fa fa-credit-card fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10">
              <h3>Plan Ahead</h3>
              <h4>Auto withdrawal is available to stagger payments.</h4>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="corporate-reimbursement">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>ALL YOU HAVE TO DO IS ASK</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Many of {{ site.school }}'s part-time students receive tuition reimbursement from their employers. It’s a great way for your company to invest in your future and increase your team’s value. Follow these three simple steps</h4>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <h3>
                KNOW YOUR OPTIONS
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Speak with HR. Does your company have an employee education budget? Ask whether your employer will pay for your education up front or with tuition reimbursement, and find out about any other criteria you may need to meet.
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>
                MAKE YOUR CASE
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Speak with your manager. Show them how your new skills will make a positive impact on productivity and revenue. To help make your case, we’ve created a PDF you can use to answer your manager’s questions.
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>
                GET ENROLLED
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Speak with an Admissions Associate. They’ll work with you as you make your way through the application process. Spaces are limited, so the sooner you start, the better your chances of landing a spot.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <input type="submit" value="GET ME THE INFO" class="btn btn-success btn-block" style="margin-top:24px; font-size:18px;">
      </div>
    </div>
  </div>
</section>

<section id="loan-petition">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="text-white program-values">
          <h2>Alfonso Carrillo | USAA </h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>"I made a great career change with the help of {{ site.school }}'s Full Stack Program. My employer paid for the first course and was so impressed, the rest of my team will be attending the next session."</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="scholarships">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>SCHOLARSHIPS available in Austin and San Antonio</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>{{ site.school}} teaches the skills you need to kickstart your career as a developer and a lifelong learner. From programming fundamentals to launching full-stack web apps, you'll learn to solve problems with code while applying industry best practices in a collaborative environment.</h4>
          <!-- PROJECT QUEST -->
          <div class="row">
            <div class="col-md-2">
               <div class="icon-margin-top">
                <a target="_blank" class="text-success" style="text-decoration:underline;" href="mailto:ruby@questsa.org">
                  <input type="submit" value="SIGN UP" class="btn btn-success height-50">
                </a>
              </div>
            </div>
            <div class="col-md-10">
              <h3><a target="_blank" href="http://questsa.org/">Project Quest</a></h3>
              <h4>Project Quest's mission is to strengthen the economy with highly qualified employees for in-demand, living wage careers.</h4>
            </div>
          </div>
          <!-- CODE 2040 -->
          <div class="row">
            <div class="col-md-2">
               <div class="icon-margin-top">
                <a target="_blank" class="text-success" style="text-decoration:underline;" href="https://goo.gl/forms/RMpTrH9pBFxPEaG53">
                  <input type="submit" value="SIGN UP" class="btn btn-success height-50">
                </a>
              </div>
            </div>
            <div class="col-md-10">
              <h3><a target="_blank" href="http://www.code2040.org/">Code 2040</a></h3>
              <h4>Creates access, awareness, and opportunities for top Black and Latin engineering talent to ensure their leadership in the innovation economy.</h4>
            </div>
          </div>
          <!-- OPERATION CODE -->
          <div class="row">
            <div class="col-md-2">
               <div class="icon-margin-top">
                <a target="_blank" class="text-success" style="text-decoration:underline;" href="https://operationcode.org/veterans/sign_up">
                  <input type="submit" value="SIGN UP" class="btn btn-success height-50">
                </a>
              </div>
            </div>
            <div class="col-md-10">
              <h3><a target="_blank" href="https://operationcode.org/">Operation Code</a></h3>
              <h4>Ensures all service members, veterans, and their families are ready for new career paths in software development through uniquely tailored services.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gofundme">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>GoFundMe - Support from Friends and Family</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Many students have used the power of crowd-sourcing to finance their education.
            <br>
            <br>
            GoFundMe is an excellent source, as are others.
            <br>
            <br>
            Full tuition or part of it can be sourced here.
            <br>
            <br>
            Alternatively, set up recurring payments from your support network.
            <br>
            <br>
            Talk to an Admissions Advisor to find the solution that best fits your needs.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="payment-plans">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>PAY in a way that fits your lifestyle</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>We proudly offer 10 week payment plans.
            <br>
            <br>
            Students will be expected to make the minimum deposit of $490.00 to secure a spot on the roster and make monthly payments.
            <br>
            <br>
            Full tuition will be due by the end of the 10 weeks of instruction.
            <br>
            <br>
            Talk to an Admissions Advisor to set up a payment plan.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tuition-dates" class="bg-info">
  {% include important-dates.html %}
</section>

<section id="lending-agencies">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>BORROW just what you need</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Need payment assistance? Our financing options allow you to focus on your goals instead of the barriers that keep you from reaching them.</h4>
          <h5>Remember, you are free to obtain a loan from any lender, not just those listed below. Loans must be repaid with interest, and taking out a loan is a big decision, so consider it carefully. If you choose to pursue financing, we encourage you to explore all your options fully before working with any particular lender. While these loan programs may be available to you, there is no agreement in place between Austin Coding Academy and these organizations.</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faqs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          {% include faqs.html %}
        </div>
      </div>
    </div>
  </div>
</section>
