---
layout: default
title: Coding Bootcamp {{site.city}} | Learn How To Code | {{site.school}}
description: >
  Learn highly relevant job skills from professional developers at {{site.school}}. {{site.city}}'s first choice for a coding education.
permalink: /
head: >
  <style>
    section:first-child {
      background-image: url('/assets/images/kevin_teaching_5.jpg');
      padding: 100px 0;
      background-size: cover;
      background-position: center;
    }
  </style>
scripts: >
  <script type="text/javascript">

  </script>
---
<section style="border-bottom: 10px solid {{site.color}}">
  <div class="container">
    <div class="row text-white text-right">
      <div class="col-xs-12" style="margin-top: 155px; margin-bottom: -55px;">
        <h1 style="font-size: 63px; text-shadow: 1px 1px 5px black;">{{site.school}}</h1>
        <div class="panel panel-success panel-inverse margin-0 display-inline-block">
          <h3 class="margin-0 display-inline">{{site.header}}</h2>
        </div>
        <h4 class="text-white" style="text-shadow: 1px 1px 14px black;">EDUCATION FOR EVERYONE</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-9 col-sm-3">
            <a href="/apply" class="btn btn-success btn-lg btn-block">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>
          <small class="lead">{{site.acronym}} IS THE SCHOOL FOR YOU</small>
          <br>
          FROM NOVICE TO NEW HIRE IN NINE MONTHS
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h3>
        <h4>
          Here at {{site.acronym}}, we believe anyone can learn how to code! That's why we offer the most affordable and accessible coding education for anyone looking to jumpstart their career in tech.
          <br>
          <br>
          Classes are taught by professional developers, two nights a week from 630pm - 900pm, allowing full time employment while you learn and prepare for your next career opportunity.
          <br>
          <br>
          With determination, our curriculum, and career readiness workshops, you'll be ready for a career you love in nine months.
        </h4>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/RvlytBUgpa4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-info">
  {% include important-dates.html %}
</section>
<section class="bg-gray-lighter">
  <div class="container">
    <h3>
      OUR <span class="text-success">COURSES</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h3>
    <h4>
      Acquire the skills you need to get the tech job you love.
    </h4>
    <div class="row row-eq">
      {% for course in site.data.courses %}
      {% if site.courses contains course[0] %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body equalizer">
            <img src="{{course[1].thumbnail}}" class="img-responsive" alt="{{course[1].name}}">
            <h4>
              {{course[1].name}}
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                {{course[1].summary}}
              </small>
            </h4>
            <div style="padding: 20px 0px;">
              <a href="/courses" class="btn btn-success" style="position: absolute; bottom: 35px;">View Details</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-primary">
  {% include syllabus-capture.html %}
</section>
<section>
  {% include learn.html %}
</section>
<section class="bg-primary text-white">
  <div class="container">
    <h2>
      <small class="text-white">Student Success</small>
      <br>
      TESTIMONIALS<span class="text-success">.</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <br />
    {% include reviews.html %}
  </div>
</section>
<section class="br-gray-lighter ">
  <div class="container">
    <h2 class="text-center">Application Process
      <br>
      <small class="text-center">Interested in taking the next steps?<br>The acceptance process only takes 30 minutes!</small>
      <br>
      <br>
      <!-- <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0"> -->
    </h2>
    <div class="row">
      <div class="col-sm-6 col-md-3 text-center">
        <img src="assets/images/7.png" width="70" alt="">
        <h3>Submit Application<br>
          <small>
            Join {{site.city}}'s next generation of developers. Get started with our <a href="/apply">quick and easy questionnaire</a>.
          </small>
        </h3>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="assets/images/phone_android.svg" width="70" alt="">
        <h3>Phone Interview<br>
          <small>
            We'd like to get to know you better, understand your technical skill level, and answer any questions you have.
          </small>
        </h3>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="assets/images/2.png" width="70" alt="">
        <h3>Enrollment<br>
          <small>Classes fill up fast and we want to make sure students can get started on their pre-work quickly.</small>
        </h3>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="assets/images/6.png" width="70" alt="">
        <h3>Pre-work<br>
          <small>Once you're enrolled in class, you'll have some pre-work to complete before the start of term.</small>
        </h3>
      </div>
    </div>
    <br />
    <!-- {% include reviews.html %} -->
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>
          <i class="fa fa-calendar"></i> UPCOMING<span class="text-success"> EVENTS</span>
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h2>
        <div id="upcoming-events"></div>
      </div>
      <div class="col-xs-12 col-md-6">
        {% include faqs.html %}
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-lighter">
  {% include companies.html %}
</section>
