---
layout: default
title: Coding Bootcamp {{site.city}} | Learn How To Code | {{ site.city }} Coding Academy
description: >
  Learn highly relevant job skills from professional developers at {{ site.city }} Coding Academy. {{site.city}}'s first choice for a coding education.
permalink: /
head: >
  <style>
    section:first-child {
      background-image: url('/assets/images/laptop-roof.jpg');
      padding: 100px 0;
      background-size: cover;
      background-position: center;
    }
    h1:first-of-type {
      font-size: 63px;
      text-shadow: 1px 1px 5px black;
    }
    div .margin {
      margin-top: 155px;
      margin-bottom: -55px;
    }
  </style>
---
<section class="border-bottom-success">
  <div class="container">
    <div class="row text-white text-right">
      <div class="col-xs-12 margin">
        <h1>{{ site.city }} Coding Academy</h1>
        {% if site.subheader %}
        <small>{{ site.subheader }}</small>
        <br/>
        {% endif %}
        <div class="panel panel-success panel-inverse margin-0 display-inline-block">
          <h3 class="margin-0 display-inline">ACHIEVE YOUR DREAM JOB</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-6 col-sm-3">
            <a href="/apply" class="text-white btn btn-success btn-lg btn-block btn-index">Apply</a>
          </div>
          <div class="col-xs-12 col-sm-3">
            <a href="{{site.schedule_qa_url}}" class="btn btn-success btn-lg btn-block btn-index" rel="noopener noreferrer" target="_blank">Schedule Q&amp;A</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3 style="margin-top: 0">
          At {{ site.city }} Coding Academy, we believe everyone deserves the chance to work in the career they love.
          <hr class="brand-hr">
        </h3>
        <h4>
          Our evening classes are taught by professional developers who earn their living doing what they teach you.
          <br>
          <br>
          Our job placement program will guide you into your new career.
          {% if site.key == 'austin' %}
          <br/>
          <br/>
          Our graduates are developers at IBM, Verizon, Frost Bank, Dell, Oracle, WP Engine, and many Austin Startups.
          {% endif %}
        </h4>
      </div>
      <div class="col-xs-12 col-md-6">
        {% if site.key == 'austin' %}
        <div class="slick-carousel" data-dots="true" data-autoplay="false" data-arrows="false">
          {% for interview in site.data.interviews %}
          <div>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/290913789" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <img src="/assets/images/table-shot.jpg" alt="table shot" style="width: 100%"/>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white">
  <div class="container">
    {% include syllabus-capture.html %}
  </div>
</section>
<section id="important-dates" class="bg-info">
  <div class="container">
    {% include important-dates.html %}
  </div>
</section>
<section>
  <div class="container">
    {% include learn.html %}
  </div>
</section>
<section class="bg-primary text-white">
  <div class="container">
    <h2>
      <small class="text-white">Student Success</small>
      <br>
      TESTIMONIALS<span class="text-success">.</span>
      <br>
      <hr class="brand-hr">
    </h2>
    <br />
    {% include reviews.html %}
  </div>
</section>
{% if site.key == 'austin' %}
<section>
  <div class="container">
    <h2>
      <i class="fa fa-calendar"></i> UPCOMING<span class="text-success"> EVENTS</span>
      <br>
      <hr class="brand-hr">
    </h2>
    <div id="upcoming-events"></div>
  </div>
</section>
<section>
  <div class="container">
    {% include companies.html %}
  </div>
</section>
{% endif %}
{% comment %} <script type="application/ld+json">
{% assign comma = '' %}
  [
  {% for course in site.data.courses %}
  {% if site.courses contains course[0] %}
  {{ comma }}
  {
    "@context": "http://schema.org",
    "@type": "Course",
    "name": "{{course[1].name}}",
    "description": "{{course[1].summary}}",
    "provider": {
      "@type": "Organization",
      "name": "{{ site.city }} Coding Academy",
      "sameAs": "https://{{ site.key }}codingacademy.com"
    }
  }
  {% assign comma = ',' %}
  {% endif %}
  {% endfor %}
]
</script> {% endcomment %}
