---
layout: default
title: Coding Bootcamp | Learn How To Code | {{site.school}}
description: >
  Learn highly relevant job skills from professional developers at {{site.school}}. {{site.city}}'s first choice for a coding education
permalink: /
head: >
  <style>
    section:first-child {
      background-image: url('/assets/images/Hero_Image_pana.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
  </style>
scripts: >
  <script type="text/javascript">
    $.ajax('https://campus.austincodingacademy.com/api/terms/dates/56f368f58085ad1100f2ad77', {
      success: function(dates) {
        $('.start-date').text(moment.utc(dates['{{site.key}}']).format('ddd, MMM Do, YYYY'));
      }
    });
  </script>
---
<section style="border-bottom: 10px solid {{site.color}}">
  <div class="container">
    <div class="row text-white text-right">
      <div class="col-xs-12">
        <h1 style="font-size: 63px; text-shadow: 1px 1px 5px black;">{{site.school}}</h1>
        <div class="panel panel-success panel-inverse margin-0 display-inline-block">
          <h3 class="margin-0 display-inline">EDUCATION FOR EVERYONE</h2>
        </div>
        <h4 class="text-white" style="text-shadow: 1px 1px 5px black;">{{site.header}}</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-9 col-sm-3">
            <a href="/apply" class="btn btn-success btn-lg btn-block">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>
          <small class="lead">ALL ABOUT</small>
          <br>
          THE BEST TECH EDUCATION IN OUR CODING ACADEMIES
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h3>
        <h4>
          Here at {{site.acronym}}, we believe anyone can learn how to code! That's why we offer an affordable and accessible coding education for anyone looking to jumpstart their career in tech.
          <br>
          <br>
          Classes are taught by professional developers, two nights a week from 630pm - 900pm, allowing full time employment while you learn and prepare for your next career opportunity.
          <!-- <small>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
            atque officiis maxime suscipit expedita obcaecati nulla in ducimus
            iure quos quam recusandae dolor quas et perspiciatis voluptatum
            accusantium delectus nisi reprehenderit, eveniet fuga modi pariatur,
            eius vero. Ea vitae maiores.
          </small> -->
        </h4>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/RvlytBUgpa4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-info">
  {% include important-dates.html %}
</section>
<section class="bg-gray-lighter">
  <div class="container">
    <h3>
      OUR <span class="text-success">COURSES</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h3>
    <h4>
      Acquire the skills you need to get the tech job you love.
    </h4>
    <div class="row row-eq">
      {% for course in site.data.courses %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-default equalizer">
          <div class="panel-body">
            <img src="{{course[1].thumbnail}}" class="img-responsive" alt="{{course[1].name}}">
            <h4>
              {{course[1].name}}
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                {{course[1].summary}}
              </small>
            </h4>
            <a href="/courses" class="btn btn-success">View Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-primary">
  {% include syllabus-capture.html %}
</section>
<section>
  {% include learn.html %}
</section>
<section class="bg-primary text-white">
  <div class="container">
    <h2>
      <small class="text-white">Happy Student</small>
      <br>
      TESTIMONIALS<span class="text-success">.</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <br />
    {% include reviews.html %}
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        {% include upcoming-events.html %}
      </div>
      <div class="col-xs-12 col-md-6">
        {% include faqs.html %}
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-lighter">
  {% include companies.html %}
</section>
