---
layout: default
title: JS Fullstack Program | {{ site.school }}
description: >
  Coding classes for beginners: Learn to code responsive websites, build interactive apps, and become a job-ready web developer at {{site.school}} in just nine months.
scripts: >
  <script type="text/javascript">
    $('body').scrollspy({ target: '#scrollspy' });
    $('.nav-wrapper').height($('[data-spy="affix"]').height());
  </script>
head: >
  <style media="screen">
    [data-spy="affix"] {
      top: 10px;
    }
    .affix-bottom {
      position: relative;
    }
    .list-group-item {
      margin-bottom: -3px !important;
    }
    section:first-child {
      background-image: url('/assets/images/laptop-tablet.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
  </style>
---
<section class="bg-gray-darker">
  <div class="container">
    <h1 class="text-white">
      Programs at {{site.school}}
      <br>
      <small class="text-white">
        Full Stack Program - 3 sessions, 10 weeks per session, part-time
        <br>
        Become a Full Stack developer, UI/UX Designer, Database Manager, and more
      </small>
    </h1>
  </div>
</section>

<section style="z-index: 50; position:relative;">
  <div class="container" id="scrollspy">
    <div class="row">
      <div class="hidden-sm hidden-xs col-md-3">
        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="300" data-offset-bottom="600" style="max-width: 212px;">
            <li><a href="#overview" class="list-group-item">Overview</a></li>
            <li><a href="#career-support" class="list-group-item">Career Support</a></li>
            <li><a href="#student-life" class="list-group-item">Student Life</a></li>
            <li><a href="#syllabus" class="list-group-item">Syllabus</a></li>
            <li><a href="#projects" class="list-group-item">Projects</a></li>
            <li><a href="#instructors" class="list-group-item">Instructors</a></li>
            <li><a href="#tuition-dates" class="list-group-item">Enrollment Dates</a></li>
            <li><a href="#finance-options" class="list-group-item">Finance Options</a></li>
            <li><a href="#faqs" class="list-group-item">FAQ's</a></li>
            <li><a href="/apply" class="list-group-item">APPLY</a></li>
          </ul>
        </div>
      </div>
      <div id="overview" class="col-xs-12 col-md-9">
        <div class="program-values">
          <h2>BEGIN A CAREER YOU LOVE IN WEB DEVELOPMENT</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Learn and apply the skills you need to start a career in code.</h4>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-code fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Know Your Stuff</h3>
              <p>Learn the most sought-after skills in tech, from JavaScript to Node.js, with guidance from our team of experienced instructors.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-server fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Develop New Skills</h3>
              <p>Build real websites, APIs, and data-driven apps while collaborating with classmates on a range of projects.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-handshake-o fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Get Hired</h3>
              <p>Launch your new career in web development with the support of our career counselors through every step of the job search.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="career-support" class="section-smaller">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>CAREER SUPPORT</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>We provide each of our immersive graduates with access to job readiness training, connections to employers, and opportunities to hone new skills.</h4>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <h3>
                JOB PREPARATION
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Each campus has an SSA who listens to students and helps them overcome challenges. SSA's and staff host the career readiness workshops - Networking, Branding, Resume, Opportunity Funnel, and Interviewing.
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>
                CAREER RESOURCES
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Every Instructor and TA is a professional developer who is passionate about helping students master the principles of software development. You will learn by creating sites and apps in pairs, teams, and singularly.
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>
                NETWORKING
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Campus Manager, our online Learning Management System, has many features - attendance, grades, messaging platform, class recordings, Q&A forum, screensharing, jobs board, and calendar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="student-life" class="section-smaller">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="text-white program-values">
          <h2>STUDENT LIFE</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Your in-class schedule will be a mix of interactive labs, project collaboration, and presentations.</h4>
          <h4>
            <ul class="list-style-none lineheightbigger">
              <li>Review and code core principles that reinforce concepts and skills</li>
              <li>Practice new skills, work in teams, and deep dive into key topics</li>
              <li>Iterate in a design framework with support from peers and Instructors</li>
            </ul>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="syllabus" class="section-smaller">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>SYLLABUS</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>We teach the skills you need to kickstart your career as a developer and a lifelong learner. From programming fundamentals to launching full-stack web apps, you'll learn to solve problems with code while applying industry best practices in a collaborative environment.</h4>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-laptop fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Professional Developer Environment</h3>
              <p>Understand how to set up your development environment, work efficiently as a developer, and make your projects a success. Learn programming fundamentals, along with the basics of computing, networks, and data structures.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-comments-o fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Learning Teams</h3>
              <p>Learn to collaborate with your support network to produce high quality software as you work with your team to develop, maintain, change, and secure an application.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-bar-chart fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Product Management Basics</h3>
              <p>Define what a user should be able to do with your app, appropriately model your data, develop simple wireframes, and learn to track a collaborative development process using version control.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-desktop fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Front End Development</h3>
              <p>Before you start working with cutting-edge libraries and frameworks, gain an understanding of how to write high-quality JavaScript code. Learn to build a dynamic, front-end to your web application using a modern JavaScript library, and use CSS to layout and style your application.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-2">
              <i class="icon-margin-top fa fa-server fa-5x fa-fw"></i>
            </div>
            <div class="col-md-10 col-xs-8 col-xs-offset-1">
              <h3>Back End Development</h3>
              <p>Build web applications from the ground up using Ruby on Rails, a modern web language and MVC framework. Build quality APIs using Node.js and integrate data from other apps (like Twitter or Yelp) into your project.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <input type="submit" value="GET A DETAILED SYLLABUS" class="btn btn-success btn-block" style="margin-top:24px; font-size:21px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="section-smaller">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>BUILD YOUR PORTFOLIO</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>You'll complete several projects, including a primary portfolio project that will help you begin your job search with confidence. Check out an example of a past student project.</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="instructors" class="section-smaller">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>MEET YOUR INSTRUCTORS</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Learn from skilled developers with professional experience in the field.</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div>
          <h2>SUPPORT SCAFFOLD</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>We care for students, coach them while they learn to build web apps, and prepare them for the next step in their career. Our progressive teaching approach and effective curriculum cultivates exceptional technical proficiency in tandem with deft interpersonal skills</h4>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <h3>
                Success Advocates
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Each campus has an SSA who listens to students and helps them overcome challenges. SSA's and staff host the career readiness workshops - Networking, Branding, Resume, Opportunity Funnel, and Interviewing.
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>
                TA's
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Every Instructor and TA is a professional developer who is passionate about helping students master the principles of software development. You will learn by creating sites and apps in pairs, teams, and singularly.
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h3>
                Campus Manager
                <br>
                <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              </h3>
              <p>
                Campus Manager, our online Learning Management System, has many features - attendance, grades, messaging platform, class recordings, Q&A forum, screensharing, jobs board, and calendar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tuition-dates" class="bg-info">
  <div class="container">
    {% include important-dates.html left="false" %}
  </div>
</section>

<section id="finance-options" class="section-smaller">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          <h2>FUND YOUR FUTURE</h2>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
          <h4>Need payment assistance? Our financing options allow you to focus on your goals instead of the barriers that keep you from reaching them.</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faqs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="program-values">
          {% include faqs.html %}
        </div>
      </div>
    </div>
  </div>
</section>
