---
layout: default
permalink: /tuition/
title: Tuition | {{ site.school }}
description: >
  {{ site.school }} is a web development and coding school with locations in
  {{ city }}. Visit us to learn more about our story.
head: >
  <style media="screen">
    section:first-child {
      background-image: url('/assets/images/coffeeshop.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
  </style>
scripts: >
  <script type="text/javascript">
  $.ajax('https://www.eventbriteapi.com/v3/organizers/{{site.eventbrite_organizer_id}}/events/?token=EFX5TSXYKK76RPDJSNBW&only_public=true&order_by=start_asc&start_date.range_start=' + moment.utc().format(), {
    success: function(response) {
      var $upcomingEvents = $('<div></div>');
      response.events.slice(0, 3).forEach(function(event) {
        $upcomingEvents.append(`
          <div class="media">
            <div class="media-left">
              <a href="${event.url}" target="_blank">
                <img class="media-object" src="${(event.logo) ? event.logo.url : ''}" alt="event image" style="display:${(event.logo) ? 'inherit' : 'none'}; style="max-width: 80px;">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="${event.url}" target="_blank">${event.name.html}</a>
                <br>
                <small>
                  <i class="fa fa-calendar"></i> ${moment.utc(event.start.local).format('ddd, MMM Do, YYYY h:mma')} - ${moment.utc(event.end.local).format('h:mma')}
                </small>
              </h4>
              ${event.description.text.slice(0, 200)}...
              <br>
              <a href="${event.url}" target="_blank">Read More</a>
            </div>
          </div>
        `)
      });
      $('#upcoming-events').html($upcomingEvents);
    }
  });
  </script>
talking_points:
  - icon: scissors
    title: Job Security
    body: Currently there are thousands of unfilled developer jobs. Provide a secure future for your family. Work in your hometown or see the world.
  - icon: pencil
    title: Accessibility
    body: 6:30pm - 9:00pm classes, you don't have to quit working while you learn and prepare for your next career. Acceptance only takes 30 minutes.
  - icon: wrench
    title: Relevant Content
    body: Curriculum designed by developers and professional teachers to suit the needs of tech departments across all kinds of companies.
  - icon: object-group
    title: Job Readiness
    body: You'll graduate with a professional portfolio, preparing you to be full stack web developer and a bevy of tech related roles
  - icon: mobile
    title: Affordability
    body: Our full stack course is the still leading the industry, with the highest return on investment across all the major code schools.
  - icon: lightbulb-o
    title: Support Network
    body: You'll have Learning Teams, Instructors, TA's, Mentors, and a Student Success Advocate to help you achieve positive learning outcomes.

lenders:
  - name: WeFinance
    href: https://www.wefinance.co/
  - name: Upstart
    href: https://www.upstart.com/
  - name: Pave
    href: https://www.pave.com/
  - name: A+ Credit Union
    href: https://aplusfcu.org/
---
<section class="bg-gray-darker">
  <div class="container">
    <h1 class="text-white">
      Tuition and Financing
      <br>
      <small class="text-white">
        We want our students to experience coding with as little stress as
        possible, so please check with your Admissions Advisor about programs
        you might be eligible for
      </small>
    </h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="row row-eq">
      <div class="col-xs-12 col-md-5 equalizer">
        <h2>
          <small class="lead">TUITION AND FINANCING</small>
          <br>
          THE HIGHEST RETURN ON INVESTMENT AT {{site.acronym}}
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h2>
        <h3>
          There are three sessions in our Full Stack program.
          <br>
          <small>
            The tuition price covers one 10 week session. Although you pay
            upfront, the cost is amortized over the course of the program. If
            you must withdraw from the program for any reason, your tuition will
            be refunded at a prorated rate.
          </small>
        </h3>
      </div>
      <div class="col-xs-12 col-md-7 align-items-center equalizer">
        <img src="/assets/images/job-graph.png" class="img-responsive" alt="Job Graph">
      </div>
    </div>
  </div>
</section>
<section class="bg-primary">
  <div class="container">
    {% include reviews.html %}
  </div>
</section>
<section id="talking_points" class="bg-gray-lighter">
  <div class="container">
    <h2>
      OUR <span class="text-success">TALKING POINTS</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <div class="row row-eq">
      {% for talking_point in page.talking_points %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <div class="panel panel-inverse margin-0 equalizer align-items-center">
                  <div class="panel-body" style="padding: 5px;">
                    <i class="fa fa-{{talking_point.icon}} fa-3x fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading equalizer">
                  {{talking_point.title}}
                  <br>
                  <small>{{talking_point.body}}</small>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="scholarships_section" class="bg-primary text-white">
  <div class="container">
    <h2 id="scholarships">
      AVAILABLE <span class="text-success">SCHOLARSHIPS</span> in Austin & San Antonio.
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="text-success fa fa-smile-o fa-3x"></i>
        <a target="_blank" href="http://questsa.org/">
          <h3 style="text-decoration:underline;" class="text-white">PROJECT QUEST (San Antonio Only)</h3>
        </a>
        <div class="font_18">
          <p>Project Quest's mission is to strengthen the economy with highly qualified employees for in-demand, living wage careers. To see if you qualify,
          <br>
          <a target="_blank" class="text-success" style="text-decoration:underline;" href="mailto:ruby@questsa.org">Contact Ruby Siddle</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="text-success fa fa-file-text-o fa-3x"></i>
        <a target="_blank" href="http://www.code2040.org/">
          <h3 style="text-decoration:underline;" class="text-white">CODE 2040</h3>
        </a>
        <div class="font_18">
          <p class="text-white">Creates access, awareness, and opportunities for top Black and Latin engineering talent to ensure their leadership in the innovation economy.
          <br>
          <a target="_blank" class="text-success" style="text-decoration:underline;" href="https://austinco.de/diversity-scholarship">Apply</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="text-success fa fa-smile-o fa-3x"></i>
        <a target="_blank" href="https://operationcode.org/">
          <h3 style="text-decoration:underline;" class="text-white">OPERATION CODE</h3>
        </a>
        <div class="font_18">
          <p>Ensures all service members, veterans, and their families are ready for new career paths in software development through uniquely tailored services.
          <br>
          <a target="_blank" class="text-success" style="text-decoration:underline;" href="https://operationcode.org/veterans/sign_up">Sign Up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include learn.html %}
  </div>
</section>
<section class="bg-primary text-white">
  <div class="container">
    <h2>
      AVAILABLE <span class="text-success">FUNDING</span>
      <br>
      <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
    </h2>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6">
        <i class="text-success fa fa-smile-o fa-3x"></i>
        <h3>WEFINANCE</h3>
        <p class="font_17">
          Friends and family are important to every one of us and many of them
          might be willing to support, and assist, if given an accessible, online resource.
          Some of our students have had success using <a style="text-decoration:underline;" href="https://www.wefinance.co/">WeFinance</a>.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <i class="text-success fa fa-smile-o fa-3x"></i>
        <h3>CORPORATE FUNDING</h3>
        <p class="font_17">
          Funding from current employers is quickly becoming the fastest-growing source of financing for
          code school students. It’s a great way for your company to invest in your future and increase
          your team’s value.
          <br>
          <a style="text-decoration:underline;" href="#talking_points">Here are some talking points</a>.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          <i class="fa fa-calendar"></i> UPCOMING<span class="text-success"> EVENTS</span>
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h2>
        <div id="upcoming-events"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 id="lending">
          Lending <span class="text-success">Agencies</span>
          <br>
          <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
        </h2>
        <p>
          Remember, you are free to obtain a loan from any lender, not just
          those listed below. Loans must be repaid with interest, and taking
          out a loan is a big decision, so consider it carefully. If you
          choose to pursue financing, we encourage you to explore all your
          options fully before working with any particular lender. While these
          loan programs may be available to you, there is no agreement in
          place between {{site.school}} and these organizations.
        </p>
        <ul class="list-unstyled justify-content-space-between flex-wrap">
          {% for lender in page.lenders %}
          <li style="min-width: 200px"><h4><a href="{{lender.href}}">{{lender.name}}</a></h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include companies.html %}
  </div>
</section>
