---
layout: default
permalink: /tuition/
title: Tuition | {{ site.city }} Coding Academy
description: >
  {{ site.city }} Coding Academy is a web development and coding school with locations in
  {{ city }}. Visit us to learn more about our story.
head: >
  <style media="screen">
    section:first-child {
      background-image: url('/assets/images/coffeeshop.jpg');
      padding: 50px 0;
      background-size: cover;
      background-position: center top;
    }
    section:first-child h1 {
      text-shadow: black 1px 1px 5px;
    }
    .panel-body~.panel-body {
      padding: 5px;
    }
    .underline {
      text-decoration: underline;
    }
    .list-styled {
      min-width: 200px;
    }
    .tf-small{
      color: #767676;
    }

  </style>
talking_points:
  - icon: scissors
    title: Job Security
    body: Currently there are thousands of unfilled developer jobs. Provide a secure future for your family. Work in your hometown or see the world.
  - icon: pencil
    title: Accessibility
    body: Classes are 6:30pm - 9:00pm twice a week, you don't have to quit working while you learn and prepare for your next career. Acceptance only takes 30 minutes.
  - icon: wrench
    title: Relevant Content
    body: Curriculum designed by developers and professional teachers to suit the needs of tech departments across all kinds of companies.
  - icon: object-group
    title: Job Readiness
    body: You'll graduate with a professional portfolio, preparing you to be full stack web developer and a bevy of tech related roles
  - icon: mobile
    title: Affordability
    body: Our full stack course is the still leading the industry, with the highest return on investment across all the major code schools.
  - icon: lightbulb-o
    title: Support Network
    body: You'll have Learning Teams, Instructors, TA's, Mentors, and a Student Success Advocate to help you achieve positive learning outcomes.

<!-- lenders:
  - name: WeFinance
    href: https://www.wefinance.co/
  - name: Upstart
    href: https://www.upstart.com/
  - name: Pave
    href: https://www.pave.com/
  - name: A+ Credit Union
    href: https://aplusfcu.org/ -->
---
<section class="bg-gray-darker">
  <div class="container">
    <h1 class="text-white">
      Tuition and Financing
      <br>
      <small class="text-white">
        We want our students to experience coding with as little stress as
        possible, so please check with your Admissions Advisor about programs
        you might be eligible for
      </small>
    </h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="row row-eq">
      <div class="col-xs-12 col-md-5 equalizer">
        <h2>
          <small class="lead text-ada-bold tf-small">TUITION AND FINANCING</small>
          <br>
          THE HIGHEST RETURN ON INVESTMENT AT {{ site.city }} Coding Academy
          <br>
          <hr class="brand-hr">
        </h2>
        <h3>
          There are three sessions in our Full Stack program.
          <br>
          <small class="text-ada-bold tf-small">
            The tuition price covers one {{ site.length }} session. Although you pay
            upfront, the cost is amortized over the course of the program. If
            you must withdraw from the program for any reason, your tuition will
            be refunded at a prorated rate.
          </small>
        </h3>
      </div>
      <div class="col-xs-12 col-md-7 align-items-center equalizer">
        <img src="/assets/images/job-graph.png" class="img-responsive" alt="Job Graph">
      </div>
    </div>
  </div>
</section>
{% if site.key == 'austin' %}
<section class="bg-primary">
  <div class="container">
    {% include reviews.html %}
  </div>
</section>
{% endif %}
<section id="talking_points" class="bg-gray-lighter">
  <div class="container">
    <h2>
      The <span class="text-success text-ada-bold">{{site.acronym}} Advantage</span>
      <br>
      <hr class="brand-hr">
    </h2>
    <div class="row row-eq">
      {% for talking_point in page.talking_points %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <div class="panel panel-inverse margin-0 equalizer align-items-center">
                  <div class="panel-body">
                    <i class="fa fa-{{talking_point.icon}} fa-3x fa-fw" aria-hidden></i>
                  </div>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading equalizer">
                  {{talking_point.title}}
                  <br>
                  <small class="tf-small">{{talking_point.body}}</small>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include learn.html %}
  </div>
</section>
<section class="bg-primary text-white">
  <div class="container">
    <h2>
       <span class="text-success-light">FUNDING</span>
      <br>
      <hr class="brand-hr">
    </h2>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6">
        <i class="text-success-light fa fa-smile-o fa-3x" aria-hidden></i>
        {% if site.key == 'austin' %}
        <h3>Skills Fund</h3>
        <p class="font_17">
          Finance The Full Cost Of Tuition
          <br><br>
          Affordable Monthly Payments
          <br><br>
          <a class="underline link-success-light text-ada" href="https://austincodingacademy.skills.fund/" target="_blank">Check it out!</a>.
        </p>
        {% else %}
        <h3>Let's talk!</h3>
        <p class="font_17">
          Schedule a time to chat with us about financing options:
          <br>
          <a class="underline link-success-light text-ada" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=1406673" target="_blank">Schedule a Q&A</a>.
        </p>
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-6">
        <i class="text-success-light fa fa-smile-o fa-3x" aria-hidden></i>
        <h3>CORPORATE FUNDING</h3>
        <p class="font_17">
          Funding from current employers is quickly becoming the fastest-growing source of financing for
          code school students. It’s a great way for your company to invest in your future and increase
          your team’s value.
          <br>
          <a class="underline link-success-light text-ada" href="#talking_points">Here are some talking points</a>.
        </p>
      </div>
    </div>
  </div>
</section>
{% if site.key == 'austin' %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          <i class="fa fa-calendar" aria-hidden></i> UPCOMING<span class="text-success"> EVENTS</span>
          <br>
          <hr class="brand-hr">
        </h2>
        <div id="upcoming-events"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 id="lending">
          Lending <span class="text-success">Agencies</span>
          <br>
          <hr class="brand-hr">
        </h2>
        <p>
          Remember, you are free to obtain a loan from any lender, not just
          those listed below. Loans must be repaid with interest, and taking
          out a loan is a big decision, so consider it carefully. If you
          choose to pursue financing, we encourage you to explore all your
          options fully before working with any particular lender. While these
          loan programs may be available to you, there is no agreement in
          place between {{ site.city }} Coding Academy and these organizations.
        </p>
        <ul class="list-unstyled justify-content-space-between flex-wrap">
          {% for lender in page.lenders %}
          <li class="list-styled"><h4><a href="{{lender.href}}">{{lender.name}}</a></h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}
<section>
  <div class="container">
    {% include companies.html %}
  </div>
</section>
