<style media="screen">
    .img-app-process {
     width: 32px;
    }
    .bigger {
      width: 35px;
    }
    .app-process small {
      color: #767676;
    }
    .app-process a {
      color: #a56a00
    }
    .app-process a:hover {
      color: #f8a919
    }
  </style>

<section class="br-gray-lighter app-process">
  <div class="container">
    <h2 class="text-center">Application Process
      <br>
      <small class="text-center">
        Interested in taking the next steps?
        <br>
        Follow the steps below!
      </small>
      <br>
      <br>
    </h2>
    <div class="row row-eq">
      <div class="col-sm-6 col-lg-2 col-lg-offset-1 text-center equalizer">
        <img src="/assets/images/7.png" class="img-app-process bigger" alt="people faces">
        <h3>1. Submit Application<br>
          <small>
            Join {{site.city}}'s next generation of developers. Get started with
            our <a href="/apply">quick and easy questionnaire</a>.
          </small>
        </h3>
      </div>
      <div class="col-sm-6 col-lg-2 text-center equalizer">
        <img src="/assets/images/phone_android.svg" class="img-app-process" alt="cell phone">
        <h3>2. Phone Interview<br>
          <small>
            We'd like to get to know you better, understand your technical skill
            level, and answer any questions you have.
          </small>
        </h3>
      </div>
      <div class="col-sm-6 col-lg-2 text-center equalizer">
        <img src="/assets/images/homework.png" class="img-app-process" alt="book with coffee cup on top">
        <h3>3. Admissions Assignment<br>
          <small>
            We assign a short admissions assignment composed of an essay and
            coding challenge. These are designed to gauge applicant's goals and
            work ethic more than their technical expertise.
          </small>
        </h3>
      </div>
      <div class="col-sm-6 col-lg-2 text-center equalizer">
        <img src="/assets/images/2.png" class="img-app-process" alt="graduation cap">
        <h3>4. Enrollment<br>
          <small>
            {% if site.key != 'austin' %} Remote {% endif %} classes fill up fast and we want to make sure students can get
            started on their pre-work quickly.
          </small>
        </h3>
      </div>
      <div class="col-sm-12 col-lg-2 text-center equalizer">
        <img src="/assets/images/6.png" class="img-app-process" alt="computer screen with website">
        <h3>5. Pre-work<br>
          <small>Once you're enrolled in class, you'll have some pre-work to complete before the start of term.</small>
        </h3>
      </div>
    </div>
  </div>
</section>
