<style media="screen">
  .img-app-process {
    width: 64px;
  }
  .bigger {
    width: 70px;
  }
</style>

<h2 class="text-center">Application Process
  <br>
</h2>
<div class="row row-eq">
  <div class="col-xs-12 col-md-2 col-md-offset-1 text-center equalizer">
    <img src="/assets/images/7.png" class="img-app-process bigger" alt="people faces">
    <h4>1.&nbsp;Submit Application
      <br /><br />
      <i class="fa fa-arrow-down fa-2x text-success" aria-hidden="true"></i>
    </h4>
  </div>
  <div class="col-xs-2 text-center equalizer hidden-xs hidden-sm">
    <img src="/assets/images/phone_android.svg" class="img-app-process" alt="cell phone">
    <h4>2.&nbsp;Phone Interview</h4>
  </div>
  <div class="col-xs-2 text-center equalizer hidden-xs hidden-sm">
    <img src="/assets/images/homework.png" class="img-app-process" alt="book with coffee cup on top">
    <h4>3.&nbsp;Admissions Assignment</h4>
  </div>
  <div class="col-xs-2 text-center equalizer hidden-xs hidden-sm">
    <img src="/assets/images/2.png" class="img-app-process" alt="graduation cap">
    <h4>4.&nbsp;Enroll in Program</h4>
  </div>
  <div class="col-xs-2 text-center equalizer hidden-xs hidden-sm">
    <img src="/assets/images/6.png" class="img-app-process" alt="computer screen with website">
    <h4>5.&nbsp;Complete Pre-Work</h4>
  </div>
</div>
