<div class="container">
  <h3 class="text-center">Our <span class="text-success">Students Work At</span></h3>
  <br>
  <div class="slick-carousel" data-slides="2" data-dots="false" data-arrows="false" data-autoplay-speed="3000">
    {% for company in site.data.companies %}
    <div>
      <div class="justify-content-center hidden">
        <img class="img-responsive" src="{{company.logo}}" alt="{{company.name}}" style="max-height: 100px;">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
