<section class="bg-gray-lighter">
  <div class="container">
    <h3>
      OUR <span class="text-success">COURSES</span>
      <br>
      <hr class="brand-hr">
    </h3>
    <h4>
      Acquire the skills you need to get the tech job you love.
    </h4>
    <div class="row row-eq">
      {% for course in site.data.courses %}
      {% if site.courses contains course[0] %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body equalizer">
            <img src="{{course[1].thumbnail}}" class="img-responsive" alt="{{course[1].name}}">
            <h4>
              {{course[1].name}}
              <br>
              <hr class="brand-hr">
              <small>
                {{course[1].summary}}
              </small>
            </h4>
            <div style="padding: 20px 0px;">
              <a href="/courses" class="btn btn-success" style="position: absolute; bottom: 35px;">View Details</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
