<style media="screen">
  .hr-courses-styled {
    width: 40px; 
    text-align:left; 
    margin-left:0; 
    border-color:#777;
  }
</style>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h3>
      Courses <span class="text-success">List</span>
      <br>
      <hr class="hr-courses-styled">
    </h3>
    <ul class="nav nav-tabs nav-stacked" role="tablist">
      {% for course in site.data.tracks[include.track].courses %}
      <li role="presentation" class="{% if forloop.index == 1 %} active {% endif %}">
        <a href="#img-{{forloop.index}}" aria-controls="home" data-target="#img-{{forloop.index}}, #details-{{forloop.index}}, #description-{{forloop.index}}" role="tab" data-toggle="tab">
          {{ site.data.courses[course].name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="tab-content">
      {% for course in site.data.tracks[include.track].courses %} 
      <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="img-{{forloop.index}}">
        {% if site.data.courses[course].img %}
        <img src="{{site.data.courses[course].img}}" alt="{{site.data.courses[course].name}}" class="img-responsive">
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="tab-content">
      <h3>
        Course <span class="text-success">Details</span>
        <br>
        <hr class="hr-courses-styled">
      </h3>
      {% for course in site.data.tracks[include.track].courses %}
      <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="details-{{forloop.index}}">
        <ul class="list-unstyled">
          <li><h4><span class="text-success">Price :</span> {{site.course_amount}}</h4></li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="tab-content">
      {% for course in site.data.tracks[include.track].courses %}
      <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id="description-{{forloop.index}}">
        <h2>
          {{site.data.courses[course].name}}
          <hr class="brand-hr">
        </h2>
        {{site.data.courses[course].description}}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
