<style>
    .finance-a {
      color: #a56a00 !important;
    }
    .finance-a:hover {
      color: #f8a919 !important;
    }
</style>

<section id="financing-options">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2>
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x" aria-hidden></i>
                <i class="fa fa fa-usd fa-stack-1x" aria-hidden></i>
              </span>
              FINANCING
              <span class="text-success"> OPTIONS</span>
              <br>
              <hr class="brand-hr">
            </h2>
            {% for option in site.data.financing %}
            <div class="media">
              <div class="media-left">
                <a href="{{option.href}}">
                    <span class="hide-link-text">graduation cap, users, college building</span>
                  <i class="fa fa-{{option.icon}} fa-2x" aria-hidden></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a class="finance-a" href="{{option.href}}">{{option.title}}</a>
                </h4>
                {{option.body}}
                <br>
                <a class="finance-a" href="{{option.href}}">Read More</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-xs-12 col-md-6">
            {% include faqs.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
