<footer>
  <nav class="navbar navbar-inverse navbar-static-bottom">
    {% if site.key == 'austin' or site.key == 'sanantonio' %}
    <div id="footer-call-tour-grab" class="well text-white">
      <h2 class="text-center text-white jumbo text-shadow">
        Want to come check out {% if site.key != 'austin' '%} remote {% endif %} classes or talk to a human?
      </h2>
      <br><br>
      <div class="row">
        {% if site.key == 'austin' %}
        <div class="phone-margin-bottom text-center col-md-4 col-sm-12">
          <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=1406673"><i class="fa fa-phone"></i>&nbsp;&nbsp;Schedule a call</a>
        </div>
        <div class="phone-margin-bottom text-center col-md-4 col-sm-12">
          <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=2958006"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Central Campus Tour</a>
        </div>
        <div class="phone-margin-bottom text-center col-md-4 col-sm-12">
          <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=3254226"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;North Campus Tour</a>
        </div>
        {% else %}
          <div class="phone-margin-bottom text-center col-sm-12">
            <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=4004268"><i class="fa fa-phone"></i>&nbsp;&nbsp;Schedule a call</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class='row'>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">
            {{site.acronym}} Info
            <br>
            {% if site.location %}
            <br>
            <br>
            <a href="{{site.location_url}}" class="link-white"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ site.location }}</a>
            {% endif %}
            {% if site.location_north %}
            <br><br>
            <a href="{{site.location_north_url}}" class="link-white"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ site.location_north }}</a>
            {% endif %}
            <br><br>
            <small class="text-white">
              We’re committed to providing diverse communities the most
              accessible coding education to transform lives and prepare
              students for lifelong, fulfilling careers.
            </small>
          </h4>
          <br>
          <ul class="list-inline justify-content-space-between">
            <li><a href="{{site.googleplus}}" class="link-clear-dark"><i class="fa fa-google-plus fa-fw"></i></a></li>
            <li><a href="{{site.twitter}}" class="link-clear-dark"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="{{site.facebook}}" class="link-clear-dark"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="{{site.linkedin}}" class="link-clear-dark"><i class="fa fa-linkedin fa-fw"></i></a></li>
            <li><a href="{{site.instagram}}" class="link-clear-dark"><i class="fa fa-instagram fa-fw"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">Courses</h4>
          <br>
          <ul class="list-unstyled">
            {% for course in site.data.courses %}
            {% if site.courses contains course[0] %}
            <li class="styled"><h5><a href="{{course[1].href}}" class="link-white">{{course[1].name}}</a></h5></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">Pages</h4>
          <br>
          <ul class="list-unstyled">
            <li class="styled"><h5><a href="/instructor-apply" class="link-white">Instructor Application</a></h5></li>
            <li class="styled"><h5><a href="/why" class="link-white">Why {{site.acronym}}</a></h5></li>
            <li class="styled"><h5><a href="/courses" class="link-white">Courses</a></h5></li>
            <li class="styled"><h5><a href="/tuition" class="link-white">Tuition</a></h5></li>
            <!-- <li class="styled"><h5><a href="#" class="link-white">Calendar</a></h5></li> -->
            <li class="styled"><h5><a href="/faq" class="link-white">FAQ</a></h5></li>
            <li class="styled"><h5><a href="/contact" class="link-white">Contact</a></h5></li>
            <li class="styled"><h5><a href="{% if site.hostname %}https://blog.{{site.hostname}}{% else %}/blog{% endif %}" class="link-white">Blog</a></h5></li>
            <li class="styled"><h5><a href="/student-grievances" class="link-white">Student Grievance Policy</a></h5></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-3 align-items-center flex-column">
          <img class="img-responsive" src="/assets/images/{{site.key}}-logo-white.svg" alt="{{site.school}} Logo">
          <br>
          <br>
          <a href="/apply" class="btn btn-success btn-block">APPLY NOW</a>
          <br>
        </div>
      </div>
    </div>
  </nav>
  <h6 class="text-center">&copy; 2018 Austin Coding Academy</h6>
</footer>
