<footer>
  <nav class="navbar navbar-inverse navbar-static-bottom">
    <div id="footer-call-tour-grab" class="well text-white">
      <h2 class="text-center text-white jumbo text-shadow">
        Want to come check out classes or talk to a human?
      </h2>
      <br><br>
      <div class="row">
        {% if site.key == 'austin' %}
        <div class="phone-margin-bottom text-center col-md-4 col-sm-12">
          <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=1406673"><i class="fa fa-phone" aria-hidden></i>&nbsp;&nbsp;Schedule a call</a>
        </div>
        <div class="phone-margin-bottom text-center col-md-4 col-sm-12">
          <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=2958006"><i class="fa fa-building-o" aria-hidden></i>&nbsp;&nbsp;Central Campus Tour</a>
        </div>
        <div class="phone-margin-bottom text-center col-md-4 col-sm-12">
          <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=3254226"><i class="fa fa-building-o" aria-hidden></i>&nbsp;&nbsp;North Campus Tour</a>
        </div>
        {% else %}
          <div class="phone-margin-bottom text-center col-sm-12">
            <a class="btn btn-lg btn-success" href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=4004268"><i class="fa fa-phone" aria-hidden></i>&nbsp;&nbsp;Schedule a call</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="container">
      <div class='row'>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">
            {{ site.city }} Coding Academy Info
            <br>
            {% for location in site.locations %}
            <br>
            <br>
            <a href="{{location.url}}" class="link-white"><i class="fa fa-map-marker" aria-hidden></i>&nbsp;&nbsp;{{location.address}}</a>
            <br>
            {% endfor %}
            <br><br>
            <small class="text-white">
              {{site.city}} Coding Academy is locally owned and operated and offers evening classes to empower
              working adults to launch careers in technology. We offer research-based curriculum delivered by
              professional developers working in the industry. Our mission is to make careers in technology
              accessible to everyone.
            </small>
          </h4>
          <br>
          <ul class="list-inline justify-content-space-between">
            <li><a href="{{site.googleplus}}" class="link-clear-dark" aria-label="googleplus"><i class="fa fa-google-plus fa-fw" aria-hidden></i></a></li>
            <li><a href="{{site.twitter}}" class="link-clear-dark"><i class="fa fa-twitter fa-fw" aria-hidden></i><span class="hide-link-text">twitter</span></a></li>
            <li><a href="{{site.facebook}}" class="link-clear-dark"><i class="fa fa-facebook fa-fw" aria-hidden></i><span class="hide-link-text">facebook</span></a></li>
            <li><a href="{{site.linkedin}}" class="link-clear-dark"><i class="fa fa-linkedin fa-fw" aria-hidden></i><span class="hide-link-text">linkedin</span></a></li>
            <li><a href="{{site.instagram}}" class="link-clear-dark"><i class="fa fa-instagram fa-fw" aria-hidden></i><span class="hide-link-text">instagram</span></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">Tracks</h4>
          <br>
          <ul class="list-unstyled">
            {% for track in site.tracks %}
            <li class="styled"><h5><a href="/{{track}}" class="link-white">{{site.data.tracks[track].name}}</a></h5></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">Pages</h4>
          <br>
          <ul class="list-unstyled">
            <li class="styled"><h5><a href="https://info.austincodingacademy.com/new-student-referral" class="link-white">New Student Referral</a></h5></li>
            <li class="styled"><h5><a href="/instructor-apply" class="link-white">Instructor Application</a></h5></li>
            <li class="styled"><h5><a href="/why" class="link-white">Why Us</a></h5></li>
            <li class="styled"><h5><a href="/tuition" class="link-white">Tuition</a></h5></li>
            <li class="styled"><h5><a href="/faq" class="link-white">FAQ</a></h5></li>
            <li class="styled"><h5><a href="/contact" class="link-white">Contact</a></h5></li>
            <li class="styled"><h5><a href="https://blog.austincodingacademy.com" class="link-white">Blog</a></h5></li>
            <li class="styled"><h5><a href="/student-grievances" class="link-white">Student Grievance Policy</a></h5></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-3 align-items-center flex-column">
          <object type="image/svg+xml" data="/logo.svg" aria-hidden="true"></object>
          <br>
          <br>
          <a href="/apply" class="btn btn-success btn-block">APPLY NOW</a>
          <br>
        </div>
      </div>
    </div>
  </nav>
  <h6 class="text-center">&copy; 2018 {{site.city}} Coding Academy</h6>
</footer>
