<footer>
  <nav class="navbar navbar-inverse navbar-static-bottom" style="margin-bottom: 5px;">
    <div id="footer-call-tour-grab" class="well text-white">
      <div class="">
        <div class="container">
          <h2 class="text-center text-white">
            <small class="text-white">
              Like more information? Take a tour of our campus? Follow the links below to find a time that works for you.
            </small>
            <br>
            <br>
            <div class="row">
              <div class="col-sm-6 text-center ">
                <a href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=1406673"><i class="fa fa-phone"></i>&nbsp;&nbsp;Schedule a call</a>
              </div>
              <div class="col-sm-6 text-center ">
                <a href="https://acaappointment.acuityscheduling.com/schedule.php?appointmentType=2958006"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Book a Tour</a>
              </div>
            </div>
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class='row'>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">
            {{site.acronym}} Info
            <br>
            <br>
            <br>
            <small class="text-white">
              We’re committed to providing diverse communities the most
              accessible coding education to transform lives and prepare
              students for lifelong, fulfilling careers.
            </small>
          </h4>
          <br>
          <ul class="list-inline justify-content-space-between">
            <li><a href="{{site.googleplus}}" alt="Google Plus" class="link-clear-dark"><i class="fa fa-google-plus fa-fw"></i></a></li>
            <li><a href="{{site.twitter}}"  alt="Twitter" class="link-clear-dark"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="{{site.facebook}}" alt="Facebook" class="link-clear-dark"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="{{site.linkedin}}" alt="LinkedIn" class="link-clear-dark"><i class="fa fa-linkedin fa-fw"></i></a></li>
            <li><a href="{{site.instagram}}" alt="Instagram" class="link-clear-dark"><i class="fa fa-instagram fa-fw"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">Courses</h4>
          <br>
          <ul class="list-unstyled" style="margin-left: 10px">
            {% for course in site.data.courses %}
            {% if site.courses contains course[0] %}
            <li style="border-bottom: 1px dashed #777"><h5><a href="{{course.href}}" class="link-white">{{course[1].name}}</a></h5></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <h4 class="text-white">Pages</h4>
          <br>
          <ul class="list-unstyled" style="margin-left: 10px">
            <li style="border-bottom: 1px dashed #777"><h5><a href="/instructor-apply" class="link-white">Instructor Application</a></h5></li>
            <li style="border-bottom: 1px dashed #777"><h5><a href="/why" class="link-white">Why {{site.acronym}}</a></h5></li>
            <li style="border-bottom: 1px dashed #777"><h5><a href="/courses" class="link-white">Courses</a></h5></li>
            <li style="border-bottom: 1px dashed #777"><h5><a href="/tuition" class="link-white">Tuition</a></h5></li>
            <!-- <li style="border-bottom: 1px dashed #777"><h5><a href="#" class="link-white">Calendar</a></h5></li> -->
            <li style="border-bottom: 1px dashed #777"><h5><a href="/faq" class="link-white">FAQ</a></h5></li>
            <li style="border-bottom: 1px dashed #777"><h5><a href="/contact" class="link-white">Contact</a></h5></li>
            <li style="border-bottom: 1px dashed #777"><h5><a href="/blog" class="link-white">Blog</a></h5></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-3">
          <img class="img-responsive" src="/assets/images/{{site.key}}-logo-white.svg" alt="Austin Coding Academy Logo">
          <br>
          <br>
          <a href="/apply" class="btn btn-success btn-block">APPLY NOW</a>
          <br>
        </div>
      </div>
    </div>
  </nav>
  <h6 class="text-center">&copy; 2017 {{site.school}}</h6>
</footer>
