<header>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="well-sm text-center border-0" style="padding: 0px; background-color: #3b5998;">
      <div id="f8" class="row">
        <!-- <div class="col-md-1">
          <i class="fa fa-facebook fa-lg" style="padding-top: 10px; font-size: 20px; color: white;"></i>
        </div> -->
        <div class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
          <a href="https://f8meetupaustin2017.splashthat.com/" target="_blank">
            <img class="img-responsive pull-right" style="max-height: 82px; padding-top: 10px;" src="/assets/images/f8_logo_2017.svg" alt="">
            <!-- <h4 style="padding-top: 7px; margin-top: 1px; margin-bottom: 0px; color: white; ">Join ACA for Facebook's F8 Keynote <br>April 18th at Capital Factory
            </h4> -->
          </a>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 text-left">
          <a href="https://f8meetupaustin2017.splashthat.com/" target="_blank">
            <p style="line-height: 1.7; padding-top: 4px; padding-left: 30px; border-left: 2px solid white; color: white; font-size: 16px;">ACA is Austin's official host for the live-stream of Facebook's F8 Developer's Conference
              <br>Keynote from Mark Zuckerberg
              <br>
              Join us April 18th, 11:30am, Capital Factory, 16th floor, for free food and drinks
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="well well-sm bg-success text-white border-0">
      <div class="container">
        <ul class="list-inline margin-0 justify-content-space-between align-items-center">
          <li><a href="{{site.googleplus}}" alt="Google Plus" class="link-white"><i class="fa fa-google-plus fa-lg"></i></a></li>
          <li><a href="{{site.twitter}}"  alt="Twitter" class="link-white"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="{{site.facebook}}" alt="Facebook" class="link-white"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="{{site.linkedin}}" alt="LinkedIn" class="link-white"><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href="{{site.instagram}}" alt="Instagram" class="link-white"><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="well well-sm border-0 bg-gray-lighter">
      <div style="font-size: 16px;" class="container">
        <a href="{{ site.location_url }}" target="_blank" class="link-primary text-right"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ site.location }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="text-right" style="float:right;">
          <a href="mailto:{{ site.email }}" target="_blank" class="link-primary"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="tel:{{site.phone}}" class="link-primary"><i class="fa fa-phone"></i>&nbsp;&nbsp;{{ site.phone }}</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="display:flex;align-items:center">
          <img src="/assets/images/{{site.key}}-logo-white.svg" alt="{{site.school}} Logo" style="max-width:50px"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/enterprise">ENTERPRISE</a></li> -->
          <li><a href="/">Home</a></li>
          <li><a href="/why">Why {{site.acronym}}</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/tuition">Tuition</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a style="margin-right: 16px;" href="/blog">Blog</a></li>
          <!-- <li><a href="/calendar">Calendar</a></li> -->
          <li><a href="/apply" class="btn btn-success">APPLY NOW</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
