<header>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <!-- TOPMOST NAV - LOCATIONS, EMAIL LINK, PHONE LINK   -->
    <div id="top_nav" class="container-fluid well well-sm border-0 bg-gray-lighter">
      {% if site.announcement %}
      <div id="top-left-banner" class="pull-left">
        <div>
          <a href="/apply" class="link-primary">{{ site.announcement }}</a>
        </div>
      </div>
      {% endif %}
      <div id="top-right-banner" class="pull-right">
        <div>
          <a href="mailto:info@{{ site.key }}codingacademy.com" rel="noopener noreferrer" target="_blank" class="link-primary"><i class="fa fa-envelope-o" aria-hidden></i>&nbsp;&nbsp;info@{{ site.key }}codingacademy.com</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="tel:{{site.phone}}" class="link-primary nowrap"><i class="fa fa-phone" aria-hidden></i>&nbsp;&nbsp;{{ site.phone }}</a>
        </div>
      </div>
    </div>
    <!-- END TOPMOST NAV -->

    <!-- MAIN NAV -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <object type="image/svg+xml" data="/logo.svg" alt="company logo" aria-hidden="true"></object>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/why">Why Us</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tracks
              <span class="caret" aria-hidden></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              {% for track in site.tracks %}
              <li>
                <a href="/{{track}}">{{site.data.tracks[track].name}}</a>
              </li>
               {% endfor %}
            </ul>
          </li>
          <li><a href="/tuition">Tuition</a></li>
          {% if site.key != 'austin' %}
            <li><a href="/remote">Attend Online</a></li>
          {% endif %}
          <li><a href="/faq">FAQ</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret" aria-hidden></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://blog.austincodingacademy.com">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/instructor-apply">Join the Team</a></li>
            </ul>
          </li>
          <li><a href="/apply" class="btn btn-success">APPLY</a></li>
          <li><a rel="noopener noreferrer" target="_blank" href="https://campus.austincodingacademy.com/login">Student Portal</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
