<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 text-center">
      <i class="fa fa-calendar fa-3x"></i>
      <h3>Register by</h3>
      <h2 class="start-date"></h2>
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h3>
        Attend 2 nights a week, 6:30pm - 9:00pm
        <br>
        <small>
          Unable to meet the deadline to enroll?
          <br>
          Give us a call for information on our future sessions.
        </small>
      </h3>
      <h3>
        <a href="tel:{{site.phone}}">{{site.phone}}</a>
      </h3>
    </div>
    <div class="col-xs-12 col-md-3 text-center">
      <i class="fa fa-calendar fa-3x"></i>
      <h3>Classes Start</h3>
      <h2 class="start-date"></h2>
    </div>
  </div>
</div>
