<style media="screen">
  .h4-styled {
    margin-top: 30px;
  }
  .important-dates small {
   color: #020202
  }
  .important-dates a {
    color: #060400;
  }
  .important-dates a:hover {
    color: #f1b24d;
  }
</style>

<div class="row row-eq important-dates">
  <div class="col-xs-12 col-md-3 text-center equalizer">
    {% if include.left != "false" %}
    <i class="fa fa-calendar fa-3x" aria-hidden></i>
    <h4>Register by</h4>
    <h3>{{site.register_date}}</h3>
    {% endif %}
  </div>
  <div class="col-xs-12 col-md-6 text-center equalizer flex-column justify-content-center align-items-content">
    <h3>
      Attend 2 nights a week, {{site.classtimes}}
    </h3>
    <h4 class="h4-styled">
      Unable to meet the deadline to enroll?
      <br>
      <br>
      Give us a call for information about our future sessions.
    </h4>
    <h4>
      <a class="text-ada-bold" href="tel:{{site.phone}}">{{site.phone}}</a>
    </h4>
  </div>
  <div class="col-xs-12 col-md-3 text-center equalizer">
    <i class="fa fa-calendar fa-3x" aria-hidden></i>
    <h4>Classes Start</h4>
    <h3>{{site.start_date}}</h3>
  </div>
</div>
