<div class="row row-eq">
  <div class="col-xs-12 col-md-3 text-center equalizer">
    {% if include.left != "false" %}
    <i class="fa fa-calendar fa-3x"></i>
    <h4>Register by</h4>
    <h3 class="start-date"></h3>
    {% endif %}
  </div>
  <div class="col-xs-12 col-md-6 text-center equalizer flex-column justify-content-center align-items-content">
    <h3>
      Attend 2 nights a week, {{site.classtimes}}
    </h3>
    <h4 style="margin-top: 30px;">
      Unable to meet the deadline to enroll?
      <br>
      <br>
      Give us a call for information about our future sessions.
    </h4>
    <h4>
      <a href="tel:{{site.phone}}">{{site.phone}}</a>
    </h4>
  </div>
  <div class="col-xs-12 col-md-3 text-center equalizer">
    <i class="fa fa-calendar fa-3x"></i>
    <h4>{% if site.key != 'austin' %} Remote {% endif %} classes Start</h4>
    <h3 class="start-date"></h3>
  </div>
</div>
