<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>LEARN IN <span class="text-success uppercase">{{site.city}}</span>
      <br>
      <hr class="brand-hr">
      <small>
        Jobs are our core focus.
        <br>
        Austin Coding Academy is locally owned and operated and offers evening classes to empower 
        working adults to launch careers in technology. We offer research-based curriculum delivered by 
        professional developers working in the industry. Our mission is to make careers in technology 
        accessible to everyone.       
      </small>
    </h2>
  </div>
  <div class="col-xs-12 col-md-6" style="border-left: 5px solid #f7f7f7">
    <h2>
      {{site.course_amount}}
      <br>
      <small>
        10 weeks of instruction.
        <br>
        <em>Delivered by a professional developer.</em>
      </small>
    </h2>
  </div>
</div>
