<div class="slick-carousel">
  {% for review in site.data.reviews %}
  <div class="row hidden">
    <div class="col-xs-12 col-md-2 justify-content-center">
      <img src="{{review.img}}" alt="{{review.name}}" class="img-responsive" style="border-radius: 65px; max-height:130px">
    </div>
    <div class="col-xs-12 col-md-10">
      <h4 id="review-body">
        {{review.review}}
        <br />
        <br />
        <span class="text-success">{{ review.name }}, </span> {{ review.current_role }}
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
