<div class="slick-carousel" data-dots="false">
  {% for review in site.data.reviews %}
  <div class="row hidden row-eq">
    <div class="col-xs-12 col-md-3 justify-content-center equalizer align-items-center">
      <img src="{{review.img}}" alt="{{review.name}}" class="img-responsive" style="border-radius: 75px; max-height:150px">
    </div>
    <div class="col-xs-12 col-md-9">
      <h4 id="review-body" class="equalizer">
        {{review.review}}
        <br />
        <br />
        {{ review.name }}, {{ review.current_role }}
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
