<style>
[data-spy="affix"] {
  top: 10px;
}
.affix-bottom {
  position: relative;
}
.list-group-item {
  margin-bottom: -3px !important;
}
.width-styled {
  max-width:155px;
}
</style>
<div id="scrollspy" class="col-md-3 col-lg-2">
  <div class="hidden-sm hidden-xs">
    <div class="nav-wrapper">
      <ul class="nav nav-pills nav-stacked text-center width-styled" data-spy="affix" data-offset-top="300" data-offset-bottom="915">
        <li>
          <a href="#our-program" class="list-group-item">Our Program</a>
        </li>
        <li>
          <a href="#courses-list" class="list-group-item">Courses List</a>
        </li>
        <li>
          <a href="#syllabus" class="list-group-item">Syllabus</a>
        </li>
        <li>
          <a href="#course-skills" class="list-group-item">Course Skills</a>
        </li>
        <li>
          <a href="#student-resources" class="list-group-item">Student Resources</a>
        </li>
        <li>
          <a href="#upcoming-courses" class="list-group-item">Upcoming Courses</a>
        </li>
        <li>
          <a href="#financing-options" class="list-group-item">Financing Options</a>
        </li>
        <li>
          <a class="btn btn-success">Apply Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>
