  <!-- OPEN GRAPH TAGS -->
  <meta property="og:title" content="{{ page.title | liquify }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://{{ site.key }}codingacademy.com{{ page.url }}">
  <meta property="og:image" content="https://{{ site.key }}codingacademy.com/assets/images/{{site.key}}-logo.png">
  <meta property="og:description" content="{{ page.description | liquify }}">
  <meta property="og:site_name" content="{{ site.city }} Coding Academy" />
  <meta property="og:locale" content="en_US" />
  <!-- TWITTER TAGS -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitterhandle }}">
  <meta name="twitter:creator" content="@{{ site.twitterhandle }}">
  <meta name="twitter:title" content="{{ page.title | liquify }}">
  <meta name="twitter:description" content="{{ page.description | liquify }}">
  <meta name="twitter:image" content="https://{{ site.key }}codingacademy.com/assets/images/{{site.key}}-logo.png">