<section id="student-resources">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              JOB<br><span class="text-success">PLACEMENT</span>
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                Our job placement program empowers you to successfully accomplish your career transition. We 
                train you in all the skills necessary to secure a great job. Our hiring partners love our graduates!
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              STUDENT FOCUSED
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                We care more about your success than any school you've ever attended. We are with you 
                every step of the way, guiding you into your new career.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              INSTRUCTORS
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                Every Instructor is a professional developer who is passionate
                about helping students master the principles of software development.
                Your instructor will mentor you while you build real-life projects.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              CURRICULUM
              <br>
              <hr style="width: 40px; border-color: {{site.color}}; text-align:left; margin-left:0">
              <small>
                Our research-based curriculum helped over 100 students start careers in web development. 
                Our learning modules allow you to learn at your convenience, and our classes are spent building
                real-world projects. This approach creates the most effective learning experience in the industry.
              </small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
