<section id="student-resources">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              STUDENT<br><span class="text-success">RESOURCES</span>
              <br>
              <hr class="brand-hr">
              <small>
                We care for students, coach them while they learn to build web apps,
                and prepare them for the next step in their career. Our progressive
                teaching approach and effective curriculum cultivates exceptional
                technical proficiency in tandem with deft interpersonal skills.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              STUDENT SUCCESS ADVOCATE
              <br>
              <hr class="brand-hr">
              <small>
                Each campus has an Student Success Advocate who listens to students
                and helps them overcome challenges. SSA's and staff host the career
                readiness workshops - Networking, Branding, Resume, Opportunity Funnel,
                and Interviewing.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              INSTRUCTORS AND TEACHING ASSISTANTS
              <br>
              <hr class="brand-hr">
              <small>
                Every Instructor and Teaching Assistant is a professional developer who is passionate
                about helping students master the principles of software development.
                You will learn by creating sites and apps in pairs, teams, and singularly.
              </small>
            </h3>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <h3>
              CAMPUS<br>MANAGER
              <br>
              <hr class="brand-hr">
              <small>
                Campus Manager, our online Learning Management System, has many
                features - attendance, grades, messaging platform, class recordings,
                Q&amp;A forum, screensharing, and calendar.
              </small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
