<section class="text-center" id="course-tracks">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-sm-12">
            <h2>
              3 Tracks
              <br>
              <small class="text-left">
                The biggest reason students join {{ site.city }} Coding Academy is to make a powerful and lasting change in their career.
              </small>
            </h2>
            <p class="text-left">
              Some are looking to join a large and established organization, others are looking to jump in with a hot new startup, and
              still others are simply looking to pick up a new skill to add to their freelance arsenal. Regardless of where
              you’re going, we have a track that guides you along that path.
            </p>
            <p class="text-left">
              All tracks start with the Intro course, a class designed to give a strong set of fundamentals and actionable tools that are
              valuable regardless of where your path leads. From there students choose their path with the Intermediate level:
              Full Stack JavaScript, Full Stack, C#/.NET, or Web Design.
            </p>
          </div>
        </div>
        <div class="panel card padding-0">
          <div class="row row-eq margin-0">
            <div class="col-sm-12 col-md-3 bg-javascript padding-0" style="margin:-1px">
              <div class="equalizer justify-content-center align-items-center" style="margin: 11px 0;">
                <h3 class="text-white">JavaScript Full Stack Web Development</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 equalizer">
              This track is for people who want to build apps and get a job as a developer. The frameworks we teach in this track lend
              themselves to companies that support more open source technologies, and these companies tend to be a bit newer,
              though this is not a rule.
            </div>
            <div class="col-sm-12 col-md-2 equalizer justify-content-center align-items-center">
              <img src="/assets/images/javascript.png" alt="javascript" class="img-responsive" style="max-height:100px">
            </div>
          </div>
        </div>
        <div class="panel card padding-0">
          <div class="row row-eq margin-0">
            <div class="col-sm-12 col-md-3 bg-csharp padding-0" style="margin:-1px">
              <div class="equalizer justify-content-center align-items-center" style="margin: 11px 0;">
                <h3 class="text-white">C#/.Net Full Stack Web Development</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 equalizer">
              Similar to the Full Stack JS track, this track is also for people who want to build apps and get a job as a developer. The
              main difference is that this track focuses on the C#/.NET stack, which typically lends itself to larger, more
              established companies, though again, this is not a rule.
            </div>
            <div class="col-sm-12 col-md-2 equalizer justify-content-center align-items-center">
              <img src="/assets/images/csharp.png" alt="csharp" class="img-responsive" style="max-height:100px">
            </div>
          </div>
        </div>
        <div class="panel card padding-0">
          <div class="row row-eq margin-0">
            <div class="col-sm-12 col-md-3 bg-design padding-0" style="margin: -1px">
              <div class="equalizer justify-content-center align-items-center" style="margin: 11px 0;">
                <h3 class="text-white">Web Design</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 equalizer">
              This track is for people who want to design beautiful web experiences and get a job as a UX/UI designer or a freelance web
              designer. Students learn both design and web development skills as well as the capabilities to launch their
              own freelance business.
            </div>
            <div class="col-sm-12 col-md-2 equalizer justify-content-center align-items-center">
              <img src="/assets/images/web-design.png" alt="web design" class="img-responsive" style="max-height:100px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
