:focus {
  outline-color: transparent;
  outline-style: none;
}

$fa-font-path: "/assets/fonts" !default;
$slick-font-path: "/assets/fonts" !default;
$slick-font-family: "Quicksand" !default;
$slick-loader-path: "/assets/images/" !default;

@import
  // url('https://fonts.googleapis.com/css?family=Lato'),
  url('https://fonts.googleapis.com/css?family=Quicksand'),
  '../node_modules/font-awesome/scss/font-awesome',
  '../node_modules/slick-carousel/slick/slick.scss',
  '../node_modules/slick-carousel/slick/slick-theme.scss',
  '../node_modules/pygments-rouge-css/github',
  'colors',
  'variables',
  'bootstrap',
  'header';

// (Your custom CSS Here)
.margin-0 {
  margin: 0 !important;
}

.border-0 {
  border: 0;
}

[class^="col-"] {
  margin-top: 10px;
  margin-bottom: 10px
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.slick-dots li button:before {
  color: #ffffff;
}

a.link-clear-dark {
  border: 1px solid darken(#ffffff, 15%) !important;
  color: darken(#ffffff, 15%) !important;
  border-radius: 12px;
  padding: 3px 3px;
  &:hover, &:focus {
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
  }
}

html, body {
  height: 100%;
  position: relative;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.h_iframe {
  position: relative;
  .ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.size-thumbnail {
  max-width: 250px;
  max-hight: 250px;
}

.justify-content-space-between {
  display: flex !important;
  justify-content: space-between !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.align-items-center {
  display: flex !important;
  align-items: center !important;
}

.align-items-flex-end {
  display: flex;
  align-items: flex-end;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}
nav li a {
  font-size: 18px;
}
.list-unstyled li h4{
  line-height: 200%;
  font-size: 24px;
}
.bg-gray-darker {
  min-height: 300px;
}
h4 small {
  line-height: 1.6;
  font-size: 89% !important;
}

// Media Queries - Tablet
@media (min-width: 768px) and (max-width: 991px) {
  #f8 .col-sm-12, .col-xs-12 {
    text-align: center !important;
  }
  #f8 img {
    float: none !important;
    margin: auto;
  }
  #f8 p {
    border-left: none !important;
  }
}

// Media Queries - Phone
@media (max-width: 767px) {
  #f8 .col-sm-12, .col-xs-12 {
    text-align: center !important;
  }
  #f8 img {
    float: none !important;
    margin: auto;
  }
  #f8 p {
    border-left: none !important;
  }
}
