:focus {
  outline-color: transparent;
  outline-style: none;
}

$fa-font-path: "/assets/fonts" !default;
$slick-font-path: "/assets/fonts" !default;
$slick-font-family: "Lato" !default;
$slick-loader-path: "/assets/images/" !default;

@import
  url('https://fonts.googleapis.com/css?family=Lato'),
  '../node_modules/font-awesome/scss/font-awesome',
  '../node_modules/slick-carousel/slick/slick.scss',
  '../node_modules/slick-carousel/slick/slick-theme.scss',
  '../node_modules/pygments-rouge-css/github',
  'variables',
  'bootstrap',
  'header',
  'footer';

// (Your custom CSS Here)

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.margin-0 {
  margin: 0 !important;
}

.border-0 {
  border: 0;
}

.text-white {
  color: #ffffff !important;
}

.hidden {
  display: none !important;
}

[class^="col-"] {
  margin-top: 10px;
  margin-bottom: 10px
}

section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.slick-dots li button:before {
  color: #ffffff;
}

.text-success {
  color: $brand-success !important;
}

.text-warning {
  color: $brand-warning !important;
}

.text-primary {
  color: $brand-primary !important;
}

.bg-primary {
  background-color: $brand-primary !important;
}

.bg-warning  {
  background-color: $brand-warning !important;
}

.bg-success {
  background-color: $brand-success !important;
}

.bg-gray-lighter {
  background-color: $gray-lighter !important;
}

a.link-white {
  color: #ffffff !important;
  &:hover, &:focus {
    color: darken(#ffffff, 15%) !important;
  }
}

a.link-primary {
  color: $brand-primary !important;
  &:hover, &:focus {
    color: darken($brand-primary, 15%) !important;
  }
}

html, body {
  height: 100%;
}

.iframe-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.h_iframe {
  position: relative;
  .ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.size-thumbnail {
  max-width: 250px;
  max-hight: 250px;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.align-items-flex-end {
  display: flex;
  align-items: flex-end;;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}
