//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           #f7f7f7 !default; // #eee
$white:                 #ffffff;
// $brand-primary:         #00268e !default; cobalt blue
$brand-primary:         #004667 !default;
// $brand-success:         different for each city
$brand-info:            #d9edf7 !default;
$brand-warning:         #006da3 !default;
$brand-danger:          #d9534f !default;
$redhighlight:          #F71F49 !default;
$greenhighlight:        #7BFF75 !default;
$yellowhighlight:       #FBFE13 !default;
$bluehighlight:         #00b7d4 !default;
$purplehighlight:       #FD00C5 !default;
$orangehighlight:       #FF9B49 !default;
$skybluehightlight:     #47F8F8 !default;
$yellowgreenhighlight:  #D4FE48 !default;
$lightyblue:            #ABE2FF !default;
$lighterblue:           #CCEDFF !default;
$lightyred:             #FFA7B1 !default;
$lighterred:            #FFCAD0 !default;
$lightygreen:           #B9FFA7 !default;
$lightergreen:          #D5FFCA !default;
$lightyorange:          #FFD7A7 !default;
$lighterorange:         #FFE7CA !default;

$colors:
  'gray-base'
  'gray-darker'
  'gray-dark'
  'gray'
  'gray-light'
  'gray-lighter'
  'white'
  'primary'
  'success'
  'info'
  'warning'
  'danger'
  'redhighlight'
  'greenhighlight'
  'yellowhighlight'
  'bluehighlight'
  'purplehighlight'
  'orangehighlight'
  'skybluehightlight'
  'yellowgreenhighlight'
  'lightyblue'
  'lighterblue'
  'lightyred'
  'lighterred'
  'lightyorange'
  'lighterorange'
  'lightygreen'
  'lightergreen';

$color_vars:
  $gray-base
  $gray-darker
  $gray-dark
  $gray
  $gray-light
  $gray-lighter
  $white
  $brand-primary
  $brand-success
  $brand-info
  $brand-warning
  $brand-danger
  $redhighlight
  $greenhighlight
  $yellowhighlight
  $bluehighlight
  $purplehighlight
  $orangehighlight
  $skybluehightlight
  $yellowgreenhighlight
  $lightyblue
  $lighterblue
  $lightyred
  $lighterred
  $lightyorange
  $lighterorange
  $lightygreen
  $lightergreen;

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  $color_var: nth($color_vars, $i);

  .text-#{$color} {
    color: $color_var !important;
  }

  .bg-#{$color} {
    background-color: $color_var !important;
  }

  a.link-#{$color} {
    color: $color_var !important;
    &:hover, &:focus {
      color: darken($color_var, 15%) !important;
    }
  }
}
