// (Your custom CSS Here)
:focus {
  outline-color: transparent;
  outline-style: none;
}

.margin-0 {
  margin: 0 !important;
}

.border-0 {
  border: 0;
}

.padding-0 {
  padding: 0 !important;
}

[class^="col-"] {
  margin-top: 10px;
  margin-bottom: 10px
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

a.link-clear-dark {
  border: 1px solid darken(#ffffff, 15%) !important;
  color: darken(#ffffff, 15%) !important;
  border-radius: 12px;
  padding: 3px 3px;
  &:hover, &:focus {
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
  }
}

html, body {
  height: 100%;
  position: relative;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.h_iframe {
  position: relative;
  .ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.size-thumbnail {
  max-width: 250px;
  max-hight: 250px;
}

.justify-content-space-between {
  display: flex !important;
  justify-content: space-between !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.align-items-center {
  display: flex !important;
  align-items: center !important;
}

.align-items-flex-end {
  display: flex;
  align-items: flex-end;
}

.icon-margin-top {
  margin-top: 20px;
}

.center-hor-ver {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 50% !important;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

nav li a {
  font-size: 18px;
}

.list-unstyled li h4{
  line-height: 200%;
  font-size: 24px;
}

.bg-gray-darker {
  min-height: 300px;
}

.font_18 {
  font-size: 18px !important;
}

.font_17 {
  font-size: 17px !important;
}

h4 small {
  line-height: 1.6;
  font-size: 89% !important;
}

#cal-slide-content {
  background-image: url("/assets/vendor/bootstrap-calendar/img/dark_wood.png");
}

#cal-slide-tick {
  background-image: url("/assets/vendor/bootstrap-calendar/img/tick.png");
}

// Main body text of blog should be h4's, below adds needed line height
.blog-legible-line-height h4 {
  line-height: 1.7;
}

.lineheightbigger {
  line-height: 2;
}

.section-smaller {
  padding: none !important;
}

#blog-date {
  min-width: 80px;
  min-height: 60px;
  display: flex !important;
  align-items: center !important;
  font-size: 18px;
  text-align: center;
  padding: 9px;
}

#media-body-vertical-center {
  padding-top: 10px;
}

#footer-call-tour-grab {
  background-image: url(/assets/images/looking-at-laptop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 100px;
}

#cal-slide-content {
  background-image: url("/assets/vendor/bootstrap-calendar/img/dark_wood.png");
}

#cal-slide-tick {
  background-image: url("/assets/vendor/bootstrap-calendar/img/tick.png");
}

.btn-clear {
  border: 2px solid $brand-success;
  text-shadow: black 1px 1px 4px;
  &:hover {
    border: 2px solid darken($brand-success, 15%);
    color: darken($brand-success, 15%) !important;
  }
}

.bkgd-color-lite-blue {
  background-color: $bluehighlight !important;
}

.img-full {
  width: 100% !important;
}

.text-shadow {
  text-shadow: black 1px 2px 5px;
}

.affix {
  margin-top: 100px;
  width: 212px;
}

.program-values {
  margin-top: 100px;
  margin-bottom: 100px;
}

#career-support {
  background-color: $lighterorange;
}

#student-life, #service-testimonial {
  background-image: url('/assets/images/Class-background-small-overlay.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#loan-petition {
  background-image: url('/assets/images/asking_for_loan.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#projects, #corporate-reimbursement, #ingredients {
  background-color: $lightergreen;
}

#gofundme {
  background-color: $lighterorange;
}

.list-style-none {
  list-style-type: none !important;
}

.height-50 {
  height: 50px;
}

// Media Queries - Tablet
@media (min-width: 768px) and (max-width: 991px) {
  .phone-margin-bottom {
    margin-bottom: 50px;
  }
}

// Media Queries - Phone
@media (max-width: 767px) {
  #top-left-banner, #top-right-banner {
    text-align: center !important;
    float: none !important;
  }

  #top-left-banner {
    color: $brand-primary;
    border: 2px solid $brand-success;
  }

  #blog-item {
    padding-left: 0;
  }

  .phone-margin-bottom {
    margin-bottom: 40px;
  }
}

.jumbo {
  font-size: 48px;
  font-weight: 900;
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.card {
  box-shadow: 0px 2px 25px #cccccc;
  padding: 15px;
}

.bold {
  font-weight: 900;
}

.hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
  width: 280px;
  background-repeat: no-repeat;
  background-size: contain;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-responsive {
  object-fit: contain;
}

.nowrap {
  white-space: nowrap !important;
}

header {
  .well {
    background-color: $brand-primary;
    color: #ffffff;
    margin: 0;
  }
  .navbar {
    margin-bottom: 0;
    .navbar-brand {
      padding: 0 15px;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        width: 52px;
        height: 48px;
        margin-left: -51px;
        z-index: 2;
      }
    }
    .btn-success {
      color: #ffffff !important;
      &:hover,
      &:focus {
        background-color: darken($brand-success, 15%)  !important;
      }
    }
  }
  img {
    border: none;
    max-width: 50px;
  }
  #top-right-banner {
    padding: 12px;
    padding-right:20px;
    font-size: 16px;
  }
  #top-left-banner {
    padding: 12px;
    padding-left:20px;
    font-size: 16px;
  }
  #top_nav {
    padding: 0px;
  }
}

footer {
  li.styled {
    border-bottom: 1px dashed #777;
  }
  ul.list-unstyled {
    margin-left: 10px;
  }
  nav.navbar {
    margin-bottom: 5px;
  }
  img {
    max-height: 242px;
  }
}

.brand-hr {
  border-top: 1px solid $brand-success;
  width: 40px;
  text-align: left;
  margin-left: 0;
}
