<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- TAG MANAGERS -->
  {% include google-tag-manager.html %}
  {% include facebook-pixel.html %}
  <!-- PAGE TITLE -->
  <title>{{ page.title | liquify }}</title>
  {% include sharing.html %}

  {% include favicon.html %}
  {{ page.head | liquify }}
  {% if page.permalink == '/' %}
  <style>
    {% include stylesheets/{{ site.key }}.css %}
  </style>
  {% else %}
  <link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css">
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | liquify }}">
  <meta name="keywords" content="">
  <meta name="campuskey" content="{{ site.key }}">
</head>
<body>
  {% include google-tag-manager-noscript.html %}
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script type="text/javascript" src="/assets/javascripts/app.js"></script>
  {% if page.permalink == '/' %}
  <script type="text/javascript">
  $(document).ready(function() {
    if (document.createStyleSheet){
      document.createStyleSheet('/assets/stylesheets/{{ site.key }}.css');
    } else {
      $('head').append($('<link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css" type="text/css" />'));
    }
  });
  </script>
  <noscript><link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css"></noscript>
  {% endif %}
  {{ page.scripts | liquify }}
</body>
</html>
