<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- TAG MANAGERS -->
  {% include google-tag-manager.html %}
  <!-- PAGE TITLE -->
  <title>{{ page.title | liquify }}</title>
  {% include sharing.html %}

  {% include favicon.html %}
  {{ page.head | liquify }}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | liquify }}">
  <meta name="keywords" content="">
  <meta name="campuskey" content="{{ site.key }}">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "CollegeOrUniversity",
      "name": "{{site.city}} Coding Academy",
      "url": "https://{{site.key}}codingacademy.com",
      "logo": "https://{{site.key}}codingacademy.com/assets/images/{{site.key}}-logo.png",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+1{{site.phone}}",
        "contactType": "customer service",
        "areaServed": "US",
        "availableLanguage": "English"
      },
      "sameAs": [
        {% if site.facebook %}"{{site.facebook}}"{%endif%}
        {% if site.twitter %},"{{site.twitter}}"{%endif%}
        {% if site.instagram %},"{{site.instagram}}"{%endif%}
        {% if site.linkedin %},"{{site.linkedin}}"{%endif%}
        ]
    }
    </script>
</head>
<body>
  {% include google-tag-manager-noscript.html %}
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script type="text/javascript" src="/assets/javascripts/app.js"></script>
  {{ page.scripts | liquify }}
</body>
</html>
