<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- TAG MANAGERS -->
  {% include google-tag-manager.html %}
  {% include facebook-pixel.html %}
  <!-- PAGE TITLE -->
  <title>{{ page.title | liquify }}</title>
  <!-- OPEN GRAPH TAGS -->
  <meta property="og:title" content="{{ page.title | liquify }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.permalink }}">
  <meta property="og:image" content="{% if page.image %}{{ site.url }}/assets/images/{{page.image}}{% else %}{{ site.url }}/assets/images/{{site.key}}-logo-white-bg.png{% endif %}">
  <meta property="og:description" content="{{ page.description | liquify }}">
  <meta property="og:site_name" content="{{ site.school }}" />
  <meta property="og:locale" content="en_US" />
  <!-- TWITTER TAGS -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitterhandle }}">
  <meta name="twitter:creator" content="@{{ site.twitterhandle }}">
  <meta name="twitter:title" content="{{ page.title | liquify }}">
  <meta name="twitter:description" content="{{ page.description | liquify }}">
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}/assets/images/{{page.image}}{% else %}{{ site.url }}/assets/images/{{site.key}}-logo-white-bg.png{% endif %}">
  <!-- CANONICAL LINK -->
  <link rel="canonical" href="https://austincodingacademy.com/{{page.permalink}}" />

  {% include favicon.html %}
  {{ page.head | liquify }}
  {% if page.permalink == '/' %}
  <style>
    {% include stylesheets/{{ site.key }}.css %}
  </style>
  {% else %}
  <link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css">
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | liquify }}">
  <meta name="keywords" content="">
  <meta name="campuskey" content="{{ site.key }}">
</head>
<body>
  {% include google-tag-manager-noscript.html %}
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script type="text/javascript" src="/assets/javascripts/app.js"></script>
  {% if page.permalink == '/' %}
  <script type="text/javascript">
  $(document).ready(function() {
    if (document.createStyleSheet){
      document.createStyleSheet('/assets/stylesheets/{{ site.key }}.css');
    } else {
      $('head').append($('<link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css" type="text/css" />'));
    }
  });
  </script>
  <noscript><link rel="stylesheet" href="/assets/stylesheets/{{ site.key }}.css"></noscript>
  {% endif %}
  {{ page.scripts | liquify }}
  {% include livechat.html %}
</body>
</html>
