<!DOCTYPE html>
<html>
  <head>
    {% include google-analytics.html %}
    {% include facebook-pixel.html %}
    {% include clickheat.html %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/stylesheets/{{ site.key | liquify }}.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="campuskey" content="{{ site.key }}">
  </head>
  <body>
    {{ content }}
    <script type="text/javascript" src="/assets/javascripts/app.js"></script>
    <script>
      parent.postMessage('resized-' + window.location.search.slice(4) + '-' + $('form').height(), '*');
      $('form').resize(function() {
        parent.postMessage('resized-' + window.location.search.slice(4) + '-' + $(this).height(), '*');
      });
      $('form').submit(function(e) {
        e.preventDefault();
        ga('send', 'event', {
          eventCategory: 'Forms',
          eventAction: 'Submit',
          eventLabel: $(this).attr('id')
        });
        if ($(this).attr('id') === 'application') {
          fbq('track', 'Lead', {
            value: 10.00,
            currency: 'USD'
          });
        }
        var that = this;
        setTimeout(function() {
          parent.postMessage('captured-' + window.location.search.slice(4), '*');
          that.submit();
        }, 1000);
      });
    </script>
  </body>
</html>
